[2017-03-22 14:34] sbronzolo opened #3 "titolo e dida box docs.developers"
@umbros ciao so che tu lavori su  https://docs.developers.italia.it/

c'è un box "Altra documentazione" che dovrebbe cambiare titolo e diventare "Altri progetti"
Il testo "In arrivo" dovrebbe diventare "Idee per nuovi progetti dentro Italia Developers, vai al [forum](https://forum.developers.italia.it/t/nuovi-progetti-dentro-italia-developers/24)

grazie
cc @rasky

[2017-03-22 15:25] sbronzolo opened #4 "url newsletter"
developers.italia.it/_faqs/it/40.yml  Inserire link alla newsletter @rasky me lo dai?

[2017-03-22 15:46] sbronzolo opened #5 "Nome del sito"
Il nome del sito è Developers Italia, bisogna aggiornare lo header del sito
**.it/developers Italia**

@rasky @matteodesanti

[2017-03-22 16:46] sbronzolo opened #7 "Faq verifica allineamento"
Verificare allineamento ultime modifiche

[2017-03-22 17:07] sbronzolo opened #8 "gestione sommario e incipit nelle news"
La policy più corretta da applicare nei seguenti punti
* description
* Description per i social
* Testo dello strillo dove compare nel sito (in hp e sezione news)

Sarebbe la seguente:
- utilizzare campo "sommario" quando presente
- incipit articolo se il campo sommario non è presente

Ad esempio qui
https://developers.italia.it/events/news/2017/02/24/lancio.html
il sommario è
Apre in beta la comm

[2017-03-23 12:06] #7 closed, assigned to nobody

[2017-03-24 11:31] giorrrgio opened #10 "Mancanza meta open graph"
Mancano i metatags og nell'head, andrebbero inseriti per migliorare la diffusione del sito sui social

[2017-03-24 11:31] garak commented on #10
:+1:

[2017-03-24 11:34] toretto460 commented on #10
👍🏻

[2017-03-24 12:12] gvarisco opened #13 "Mail di conferma registrazione newsletter - From: da sistemare"
Le mail di conferma registrazione newsletter hanno come From: "rosini@agid.gov.it"
@umbros @rasky valutiamo di cambiare in un bel noreply@developers.italia.it?

[2017-03-24 12:14] gvarisco opened #14 "Avira blocca link conferma, email registrazione newsletter"
Ricevuta segnalazione:

URL in questione: http://testmupgov.musvc5.net/ e/o mailupclient.com

Verificare quanto segnalato.

[2017-03-24 12:30] gvarisco opened #16 "Complete English translation"
404s are being reported on all /en projects' pages, such as:

- https://developers.italia.it/en/projects
-  https://developers.italia.it/en/spid
- https://developers.italia.it/en/datigov
- https://developers.italia.it/en/anpr
- https://developers.italia.it/en/cie

Just opening this issue to keep track of future commits.

[2017-03-24 14:51] rasky commented on #10
Io sono preso in conferenza per 2 giorni, se qualcuno mi fa una PR mergio subito grazie /cc @sbronzolo @umbros @IceOnFire

[2017-03-24 14:53] IceOnFire commented on #10
Ci penso io

[2017-03-24 15:09] IceOnFire commented on #10
Ho appena pushato, @rasky puoi verificare rapidamente se ti torna tutto?

[2017-03-24 15:13] IceOnFire commented on #10
Se è sintatticamente corretto possiamo personalizzarlo per ogni pagina

[2017-03-24 16:03] rasky opened #19 "Manca il badge "coming soon" in homepage accanto allo strumento di API sandbox"

[2017-03-24 16:34] gvarisco opened #20 "Placeholder TAG/LABEL presenti su pagina FAQ"
https://developers.italia.it/it/faq/ presenta due placeholder "TAG", "LABEL" che andrebbero rimossi non appena vengono inseriti i contenuti finali.

Segnalazione arrivata via Twitter (https://twitter.com/riffraff/status/845309357252337664)

[2017-03-24 21:00] gvarisco opened #21 "Mailup riporta sporadicamente errori 500 in fase di registrazione alla newsletter"
Ci è stato segnalato che https://a0x0b4.mailupclient.com/frontend/subscribe.aspx risponde in alcune occasioni con errore 500. (nessun parametro particolare nella POST, normali indirizzi e-mail)

TODO:

- Follow-up con supporto tecnico Mailup e apertura ticket.

[2017-03-25 13:55] #10 closed

[2017-03-25 13:55] IceOnFire commented on #10
L'aggiunta di Jekyll SEO ha reso superfluo specificare esplicitamente i metatag.

[2017-03-25 14:04] #19 closed

[2017-03-25 17:47] rasky commented on #21
Vedi anche: https://twitter.com/mrzippetto/status/845671570446172162

[2017-03-27 06:44] gvarisco opened #24 "cookiebar - Link "Privacy policy" non definito"
Il link "Privacy policy" presente nella cookiebar risulta riportare erroneamente a https://developers.italia.it.

TODO:
- [ ]  Dichiarare "privacy_link" in _config.yml
- [ ] Gestire supporto multilingua per privacy policy link
- [ ] Verificare presenza privacy policy EN

ref. https://github.com/italia/developers.italia.it/blob/master/_includes/cookiebar.html

[2017-03-27 12:35] nsanitate opened #26 "Mail di conferma registrazione newsletter - Oggetto e contenuto anonimi"
Le mail di conferma registrazione newsletter si presentano così
![risposta](https://cloud.githubusercontent.com/assets/666044/24356448/54b46b2c-12fa-11e7-90d6-432a8106087c.png)
Non c'è nessun riferimento alla lista alla quale ci si sta iscrivendo, ne al dominio di riferimento.
Sarebbe necessario personalizzare oggetto e contenuto.

[2017-03-28 20:46] mcollovati opened #30 "Feed RSS non funzionante"
L'XML prodotto da jekyll-feed è errato nel caso si imposti l'attributo lang nel post; manca uno spazio prima dell'attributo lang nel tag `<entry>`

La version 0.9.2 di jekyll-feed fissa questo bug

[2017-03-29 05:57] gvarisco opened #32 "Aggiornamento a Jekyll 3.4.3"
Jekyll 3.4.3 è stato rilasciato recentemente:

- https://jekyllrb.com/news/2017/03/21/jekyll-3-4-3-released/
- https://jekyllrb.com/news/2017/03/09/jekyll-3-4-2-released/

Va pianificato un aggiornamento dall'attuale 3.4.1.

[2017-03-29 16:05] #30 closed

[2017-03-29 16:11] #32 closed

[2017-03-29 16:14] rasky commented on #16
Completato.

[2017-03-29 16:14] #16 closed

[2017-04-03 11:10] sbronzolo opened #34 "Voci di menù da eliminare "Progetti in evidenza" e "Dove partecipare""
Sia nel menù “progetti” sia “in strumenti” è presente un ulteriore livello di navigazione che non era previsto e che penalizza decisamente la navigazione in ambito mobile.
Clicco su “progetti” e vedo “progetti in evidenza”. Devo cliccare di nuovo per vedere la lista dei progetti.
Per questo motivo vanno eliminati sia “Progetti in evidenza” sia “Dove partecipare”.
Va lasciata la voce “Tutti i proge

[2017-04-03 11:11] sbronzolo opened #35 "Icone strumenti cliccabili. La voce github dovrebbe aprire nuovo tab"
Nel menù strumenti l’icona dello strumento non è cliccabile

Nel menù strumenti sarebbe opportuno che il link a Github si aprisse in nuovo tab"

[2017-04-03 11:19] sbronzolo opened #36 "Introduzione breadcrumb"
Introduzione breadcrumb nel rispetto dell'albero di navigazione del sito, come segue
cc @rasky

In ogni stringa l'ultimo elemento dell'alberatura non è cliccabile

Home / Progetti
https://developers.italia.it/it/progetti/

Home / Progetti / Spid

Home / Notizie / Titolo news

Home / FAQ

Home / Contatti

Home/ Strumenti
(manca pagina, da creare)

Home / Strumenti / Docs

Home / Strumenti / Forum

[2017-04-03 11:21] sbronzolo opened #37 "Creare una pagina di lista degli "strumenti""
In pratica una pagina con questo template https://developers.italia.it/it/progetti/ ma che descriva gli strumenti (github, docs, forum, api) così come sono descritti in home page

La descrizione degli strumenti, testi compresi, è già stata fatta in home page

[2017-04-03 11:42] sbronzolo opened #38 "Introduzione menù nelle sezioni docs e forum"
* Problemi*
- Nella sezione forum il menù del sito è incompleto (mancano le voci)
https://forum.developers.italia.it/

- Nella sezione docs. il menù del sito è assente
https://docs.developers.italia.it/
http://anpr.readthedocs.io/en/sphinx/

- da mobile nelle wl si perde l'accesso al menù del sito

- il sito si chiama developers Italia

in allego ipotesi di architettura dell'informazione e struttu

[2017-04-04 12:03] sbronzolo opened #40 "Creazione di una pagina contatti"
Content design per creazione di una pagina di contatti
@rasky

La pagina è organizzata in capitoli e utilizza il menù contestuale come strumento di navigazione

I contenuti sono statici, a parte un widget per twitter e un feed per gli ultimi comunicati stampa

I testi sono già quasi tutti a posto, mancano alcuni indirizzi cui rimandare gli utenti

Va data la possibilità di scaricare foto "ufficial

[2017-04-04 13:11] rasky commented on #40
OK per me.

[2017-04-04 13:13] #34 closed

[2017-04-04 15:01] sbronzolo commented on #40
Aggiungere newsletter

[2017-04-10 14:41] pgoodjohn opened #52 "Errore Redirect Logo"
Cercando di ritornare alla home dalla pagina [Errori Anpr](https://italia.github.io/anpr/error/error_errori_anpr.html.html), cliccando sul logo _.it_ si viene rediretti ad una pagina di [errore 404](https://italia.github.io/anpr/error/) anziché alla homepage effettiva.

Steps per riprodurre:
- Recarsi sulla pagina [ANPR](https://developers.italia.it/it/anpr/)
- Cliccare su [tabella codici ed error

[2017-04-10 15:15] mccalv commented on #52
Ciao, attualmente stiamo usando https://anpr.readthedocs.io. Ho corretto la documentazione e creato una pull request.
Grazie per la segnalazione!

[2017-04-10 15:57] #52 closed

[2017-04-13 06:16] gvarisco opened #54 "[en] Sezione news"
La versione inglese del sito (https://developers.italia.it/en/) non contiene ad oggi una sezione 'news' (ref. https://developers.italia.it/news/).

- [ ] Creazione https://developers.italia.it/en/news/
- [ ] Traduzione e allineamento news IT con l'equivalente inglese (ad oggi, 13/04, c'è un solo comunicato da tradurre: https://github.com/italia/developers.italia.it/blob/master/_posts/it/2017-02-24

[2017-04-16 10:46] mriccia commented on #54
Ciao @gvarisco, ho fatto una traduzione iniziale, nei prossimi giorni la rifinisco e apro una PR.
https://github.com/mriccia/developers.italia.it/commit/9e15d13a2064f13985fe56ca43c252cceae9c26c

[2017-04-19 06:01] gvarisco commented on #54
@mriccia ciao Michele, ottimo! Appena la mandi inizio a rivederla :)

[2017-04-19 11:45] mriccia commented on #54
Ho creato una PR che contiene solamente il post in Inglese, sto cercando di creare la sezione news in EN ma non so se l'approccio é corretto.
Ho spostato la `news.html` nella cartella `_layouts` e ho creato due `news.md` files, uno per IT ed uno per EN. Cosa ne pensi?  https://github.com/italia/developers.italia.it/compare/master...mriccia:en-news?expand=1

[2017-05-10 16:50] alessandro-aglietti opened #57 "Creazione Stack Overflow tags"
as seen on https://forum.developers.italia.it/t/stack-overflow-meta-e-tag/229

Riporto un riassunto.

Per evitare di riempire il forum di Q&A alla Stack Overlflow possiamo andare ad indicare nei manuali che se si ha una domanda per uno dei macrotemi(eg. SPID, ANPR, dati.gov.it, ...) si puo' procedere aprendo la domanda su SO aggiungendo il tag correlato.

Per iniziare bisogna decidere il naming, u

[2017-05-10 17:50] gvarisco opened #58 "Configurazione Open Graph metadata (es. og:image) per forum.developers.italia.it"

[2017-05-25 10:07] rasky opened #60 "Metriche per dashboard"
Con l'obiettivo di arrivare ad una dashboard di monitoraggio della community, iniziamo a scrivere un tool che raccolga alcune informazioni a livello numerico e le invii ad un'istanza di [statsd](https://github.com/etsy/statsd):

GitHub:
 * Numero progetti attivi
 * Interazioni su GitHub (issue / PR)

Discourse:
 * Numero post sul forum
 * Iscritti al forum

Mailup:
 * Iscritti alla newsletter

[2017-08-30 16:35] rasky opened #65 "Pagina "Cosa fare""
Aggiungiamo una pagina "Cosa fare" che elenchi un subset di tutte le issue aperte in tutti i repositori GitHub di Developers Italia.

In particolare, la pagina deve mostrare del testo iniziale di introduzione, e poi una tabella che contenga dei "record" composti da:

 * Titolo della issue (con link verso Github)
 * Eventuali label della issue
 * Titolo del sotto-progetto (cioè del progetto GitHub,

[2017-08-30 22:41] matteodesanti commented on #65
Ecco il mockup: potrebbe essere qualcosa del genere
https://invis.io/KFAOM2OUE#/251168809_1024up_-_Todo
Non ho previsto la funzione "applica filtri", poichè https://datatables.net/ li applica live.
Per le select multiple userei un altro grande classico, https://github.com/select2/select2

[2017-09-05 06:29] gvarisco opened #67 "Liquid 4.0 syntax errors"
I've started working on jekyll-3.5.x upgrade in a separate branch. When building the site with Liquid 4.0, we get a few warnings:

[code]

[2017-09-05 06:32] gvarisco commented on #67
Commit 1864e99f456246ee3e4a9781a272438ecfe32888 and 416a0fc3de12a531a1c1175222a90f102fb16479 fix "Unexpected character ' " warnings

[2017-09-05 08:29] gvarisco opened #69 "html-proofer warnings"
bundle exec htmlproofer ./_site  --check-html --allow-hash-href --empty-alt-ignore --only-4xx --disable-external introduced in #68 reports:

[code]

[2017-09-05 11:39] gvarisco commented on #67
Fixed in 044fb9f12489ca8ac530ee585121e389e0cf50ea

[2017-09-05 11:39] #67 closed

[2017-09-05 11:41] gvarisco commented on #69
@rasky FYI - this is the reason why circleci builds are failing. /cc @pdavide

[2017-09-10 16:48] rasky opened #70 "Non funzionano i filtri per tag nella sezione Notizie"
Penso non siano mai stati implementati. Ci sono i tag, ma non c'è il codice per filtrare.

[2017-09-10 16:48] rasky commented on #70
/cc @vito80ba

[2017-09-20 17:16] #65 closed

[2017-09-22 16:21] ruphy opened #75 "Alcune modifiche alle issues mostrate nella pagina "da fare""
1) le uniche issues mostrate nella tabella (o equivalentemente, scaricate da github) sono quelle che hanno l'etichetta "help wanted". dunque la label "help wanted" diventa un modo con cui qualunque sviluppatore in "italia" marca la task per essere pubblicate
2) i "tipi", la cui visualizzazione può essere controllata tramite caselle di spunta, dovrebbero essere sempre mostrati in qualche modo con l

[2017-09-22 16:22] ruphy commented on #75
@vito80ba

[2017-09-25 09:23] ruphy opened #76 "De-hardcode the language from rtd links"
Review all links to the documentation so that they are not language-specific.

For example, this page https://developers.italia.it/it/spid/ links to https://spid-regole-tecniche.readthedocs.io/en/latest/
which is wrong because:
1. the documentation is in Italian, not English
2. we miss on the possibility of having translations

We need to do a global review of all the links, there might be other s

[2017-09-29 09:34] pdavide commented on #69
Already fixed in #68 commit https://github.com/italia/developers.italia.it/commit/11f055b46563666bf463bfe1084d9fa717ec6962

[2017-09-29 09:37] pdavide opened #79 "Broken link to cie-middleware repo"
In https://developers.italia.it/it/cie the link "Middleware per Windows" points to https://github.com/italia/cie-middleware which returns 404.

[2017-09-29 10:26] gvarisco commented on #79
repo is currently under review. Will hopefully be published soon. /cc @rasky

[2017-09-29 10:28] #69 closed

[2017-09-29 10:58] gvarisco commented on #79
The repo is now public.

[2017-09-29 10:58] #79 closed

[2017-09-29 13:45] sbronzolo opened #81 "Sitemap"
@jovi vedevo su search console che developers italia è l’unico tra i nostri siti senza site map https://support.google.com/webmasters/answer/156184

[2017-09-29 13:51] sbronzolo opened #82 "duplicazione contenuti / title e description"
Vedo che esiste duplicazione delle description in due casi

a) pagina inglese del contenuto, ma il contenuto è in italiano e duplica quello della pagina italiana
https://developers.italia.it/en/privacy-policy/

b) pagine tag come questa, hanno title e description fisse
https://developers.italia.it/news/eventi
La soluzione ottimale dovrebbe essere
Title = eventi
Description = Tutte le news relative

[2017-09-29 16:43] gvarisco commented on #81
@sbronzolo è stata creata recentemente, con l'upgrade a jekyll. Puoi farne il submit? https://developers.italia.it/sitemap.xml

[2017-09-29 16:44] gvarisco commented on #81
Fatto io.

[2017-09-29 16:44] #81 closed

[2017-09-30 19:34] sbronzolo commented on #81
Ok

Inviato da iPhone

[2017-11-15 11:13] giux78 opened #94 "Team members are only visible by organisation members"
Team members are only visible by organisation members following the links:

https://developers.italia.it/it/daf/#i-project-leader-di-questo-progetto

https://github.com/orgs/italia/teams/daf

You are asked to login.

[2017-11-15 11:29] alexrj commented on #94
Hm, the team is already set to "visible", but that does not make it truly public. It looks like there's no way to display team members publicly. I think the best solution is to add people profiles manually to `_data/people.yml` and display thumbnails automatically in the project pages, like we already do for teamdigitale.governo.it.
cc @ruphy

[2017-11-21 15:48] alexrj commented on #94
Alternative idea: get team members from API at website build time. We'd still need to map GitHub nicknames in the website config files.
https://developer.github.com/v3/orgs/teams/#list-team-members

[2017-12-20 08:28] alexrj commented on #94
Fixed by #99

[2017-12-20 08:28] #94 closed

[2017-12-20 09:41] vito80ba opened #100 "Migliorare la presentazione grafica in pagina ANPR"
Nel body della pagina ANPR (https://developers.italia.it/it/anpr) è stato inserito un form per la sottoscrizione di newsletter.
Credo sia opportuno renderlo graficamente più gradevole.

[2017-12-21 11:53] #100 closed

[2018-01-16 17:31] ruphy opened #104 "Your Own Idea"
Something that you're totally excited about

Do you have an awesome idea you want to work on with KDE but that is not among the ideas below? That's cool. We love that! But please do us a favor: Get in touch with a mentor early on and make sure your project is realistic and within the scope of Developers Italia. That will spare you and us a lot of frustration.

Mentor: Try to see who in Developers

[2018-01-16 18:05] ruphy opened #105 "Adapt OpenFisca to the Italian Fiscal system"
OpenFisca is an open source project created by the French government: http://openfisca.org/doc/index.html

It supports multiple countries. Try to implement an "Italia" country which implements the Italian fiscal laws

[2018-01-31 10:32] danielaiozzo opened #107 "Sostituzione email info@agid in privacy policy"
Ciao, poichè la mail info@agid.gov.it sta per essere disabilitata, andrebbe sostitutita con protocollo@pec.agid.gov.it in questa pagina
https://developers.italia.it/it/privacy-policy/

Tks

[2018-01-31 16:41] ruphy commented on #107
fatto, grazie ;-)

[2018-01-31 16:41] #107 closed

[2018-02-05 09:29] bvhme commented on #76
I've just bumped in to trying to find the English docs for DAF and when switching the language of the page in the DAF readme getting redirected to the home page.

Did find them at https://daf-docs.readthedocs.io/en/latest/

[2018-03-01 08:41] vito80ba opened #109 "Pagina "Chi siamo""
- [x] Verificare se opportuno lasciare Carlo C. come "mantainer"
- [x] Ercolani: modfiicare/cambiare foto

[2018-03-01 10:11] ruphy commented on #109
Carlo non lavora più nel Team, quindi lo sposterei nella sezione "hanno contribuito".
Per il resto, eliminerei la dicitura "maintainer" che ha preso un'accezione particolare negli sviluppi di Developers Italia. Inoltre bisogna trovare un modo più compatto di parlare di project leader, perché sono tantissimi (tutti quelli dei vari progetti, una 30ina di persone?)

[2018-03-02 15:17] FMiranda97 commented on #105
Hi! I'm a computer engineering student at Universidade de Coimbra, Portugal. I found this project interesting and I'm starting my research on the functioning of OpenFisca. I do know some Italian and this seems like a nice opportunity to also pratice it a bit. However, I have no experience with taxation systems and would therefore like to know, besides the legislation, what kind of support would I

[2018-03-02 19:50] alexrj commented on #109
Possiamo generare automaticamente la lista dei project leader e magari anche di tutte le persone della org Italia? Dobbiamo far vedere che nella community siamo in tanti e non siamo solo noi :-)

[2018-03-03 17:37] jackcoral89 opened #110 "Alert al caricamento della pagina "Cosa fare""
<img width="1369" alt="screen shot 2018-03-03 at 6 34 22 pm" src="https://user-images.githubusercontent.com/27479143/36937302-9166319e-1f11-11e8-9ffb-5827a24eb6dc.png">

<img width="277" alt="screen shot 2018-03-03 at 6 49 13 pm" src="https://user-images.githubusercontent.com/27479143/36937446-a0ff8b26-1f13-11e8-8504-c46ec18f395f.png">

[2018-03-03 22:08] ruphy commented on #110
Grazie @jackcoral89 !
guardo subito. credo sia un problema di CI

[2018-03-05 07:12] vito80ba commented on #109
Propongo di fare fix come da consiglio di @ruphy e poi aprire nuova issue per quello suggerito da @alexrj

[2018-03-05 15:27] ruphy commented on #110
Fixed! Thanks a lot!

[2018-03-05 15:27] #110 closed

[2018-03-05 15:30] jackcoral89 commented on #110
Ottimo, qual'era il problema ?

[2018-03-05 20:51] vito80ba opened #114 "Riformulare pagina Chi Siamo"
Riformulare pagina Chi siamo per dare risalto a tutte le persone coinvolte sui vari progetti: maintainers, project leader, contributori...

1. Elaborare proposta grafica
2. Verificare capacità di ottenere dati dai progetti github

[2018-03-05 21:34] alexrj commented on #109
...prosegue in #114

[2018-03-05 21:36] alexrj commented on #114
Io mi immagino una struttura del genere: per ogni progetto (CIE, SPID ecc.) elenchiamo i project leader (li abbiamo già in Jekyll perché li visualizziamo nelle pagine dei progetti) e poi i maintainer, che nel gergo di GitHub sarebbero i [collaborators](https://developer.github.com/v3/repos/collaborators/).

Poi sotto, indipendentemente dai progetti, mostrerei tutte [le persone appartenenti alla or

[2018-03-06 08:57] #109 closed

[2018-03-06 10:19] ruphy commented on #114
Ottima idea, anche quella di mostrare la community. Lascio a @italia/design ulteriori idee sulla realizzazione.

[2018-03-06 10:52] ruphy commented on #110
@jackcoral89 mancava una copia della cartella github nei file compilati, cosa di cui ovviamente con jekyll in locale non ci si accorgeva. Una pulizia dei file remoti ha fatto saltare fuori il problema. Regressione probabilmente introdotta mesi fa...

[2018-03-06 10:53] ruphy commented on #110
fixing commit: https://github.com/italia/developers.italia.it/commit/d68c48782f6e96430e4324856ac79ccc2670fa28

[2018-05-06 16:30] doctorspeck opened #136 "Fattura elettronica"
Salve, vorrei integrare nel gestionale che stiamo progettando un sistema di invio automatico della fattura elettronica che pare diventi obbligatoria per tutti dal 2019, ma il funzionamento non ci è ben chiaro, c'è qualcuno che possa darci una mano?

[2018-05-31 09:28] vito80ba opened #159 "Presenza sui social e icone su sito"
Sviluppando il front-end per la nuova versione del sito disegnata da @spizzichi mi sono accorto che nella intestazione sono presenti i seguenti socials: facebook, github e twitter.
Mentre nell'attuale sito ci sono twitter e medium.
Quale devo inserire?

[2018-07-25 10:27] ruphy opened #219 "Implement a blacklisting mechanism for obscene/malicious publiccodes"

[2018-09-16 10:55] ruphy opened #233 "Docker build failing (new-version-master)"
Docker build fails with the following output:

[code]

Version:

[code]

[2019-01-21 13:37] alranel commented on #76
This fix was applied to all the links in the website. Documentation is now hosted on docs.italia.it, where the multi-language switch links are being fixed in these days.

[2019-01-21 13:37] #76 closed

[2019-01-31 17:15] #233 closed

[2019-01-31 17:18] alranel opened #255 "Replace developers-italia-searchyll with upstream searchyll"
We currently use [our fork of searchyll](https://github.com/italia/developers-italia-searchyll). This is not needed anymore because [this PR](https://github.com/omc/searchyll/pull/36) introduced mappings in the upstream searchyll. We should adapt our mappings and use that one.

[2019-02-02 18:11] alranel opened #256 "API pages are not indexed"
Searchyll does not index pages generated by `data_page_generator.rb`.

This repository contains a modified `data_page_generator.rb` ([upstream here](https://github.com/avillafiorita/jekyll-datapage_gen)) that allows to add default data values to generated pages (we need `lang` and `type`).

[2019-02-02 19:06] alranel commented on #256
Actually, they seem to be indexed (but not re-indexed automatically when using `bundle exec jekyll serve`. Check this.

[2019-02-02 19:08] alranel opened #257 "Do not index individual FAQs"
As of now, FAQs are indexed automatically. But they point to URLs like `/faqs/it/40.yml` which do not exist as we only render a single page containing all of them.

[2019-02-06 10:05] alranel opened #261 "Some pages are indexed twice"
The page `/it/come-partecipo` is indexed twice in Elasticsearch.

I suspect it may be seen by Searchyll both as a "document" and as a "post" (see searchyll.rb).

[2019-02-06 10:31] alranel opened #262 "Alphabetical order of search results doesn't work"
The following error is returned by Elasticsearch:

[code]

[2019-02-13 10:02] alranel opened #266 "Search by tags and developmentStatus doesn't work"
After renaming `tags` and `developmentStatus` to `publiccode.tags` and `publiccode.developmentStatus` in the Elasticsearch data structure, we need to update the Javascript client code in order to build the right query.

[2019-02-13 17:08] alranel opened #267 "Software screenshots cannot be enlarged"
There's a bug with the Photoswipe JS library used for enlarging screenshots in the software pages: the modal window is not rendered correctly.

[2019-02-13 17:09] alranel opened #268 "Improve documentation about the vitality index"
The algorithm used for the vitality index shown in software pages should be explained better. It should be also pointed out that its components (releases etc.) are explicitly mentioned by the guidelines.

[2019-02-13 17:11] alranel commented on #255
We sent multiple pull requests to the upstream repo, so we still need our fork.

[2019-02-13 17:11] #255 closed

[2019-02-13 17:37] alranel commented on #219
Moved to https://github.com/italia/developers-italia-backend/issues/78

[2019-02-13 17:37] #219 closed

[2019-02-18 17:29] libremente opened #270 "Glitch in image"
[This](https://pre.developers.italia.it/assets/images/come-lo-uso-1.svg) SVG is not rendering correctly in FF 65, GNU/Linux OS.
See attached image for reference:
![schermata da 2019-02-18 18-27-40](https://user-images.githubusercontent.com/25111463/52967673-15391f00-33ab-11e9-87b3-ff7c46c45253.png)

[2019-02-18 17:38] libremente opened #271 "Otello img preview is slightly smaller than others"
Otello img preview is slightly smaller than others. As such, the line is broken. See screenshot:
![schermata da 2019-02-18 18-37-10](https://user-images.githubusercontent.com/25111463/52968041-57169500-33ac-11e9-8a2b-889780fd2984.png)

[2019-02-18 17:39] libremente opened #272 "Slack icon missing"
In `come-lo-uso`, the slack icon is missing in the button at the end of the page. See screenshot for reference:
![schermata da 2019-02-18 18-38-54](https://user-images.githubusercontent.com/25111463/52968104-8927f700-33ac-11e9-9a38-da448e16d523.png)

[2019-02-18 17:41] libremente opened #273 "Link color issue, accessibility problem"
In the `contacts` page, text is in black over the blue background, limiting its visibility.
See screenshot:
![schermata da 2019-02-18 18-40-15](https://user-images.githubusercontent.com/25111463/52968196-c1c7d080-33ac-11e9-9631-f8edc3605186.png)

[2019-02-18 17:44] libremente opened #274 "Change message displayed when no content is present"
In the `api` section, when browsing a project that does not have any content, the `No operations defined in spec!` message is printed. This should not happen.

[2019-02-25 17:13] alranel opened #275 "Remove cdnjs and jsdelivr dependencies"
We should embed things locally (using npm packages?) instead on relying on such external CDNs.

[2019-03-18 15:14] ioggstream opened #281 "Aggiungere API Regione Umbria"
## Devo

Aggiungere due API della Regione Umbria.

- [ ] Elenco Professionisti
- [ ] Atti della Regione o Offerta turistica

[2019-03-19 20:26] alranel commented on #267
I temporarily disabled Photoswipe until we can work on this issue. Screenshots are now opened directly via regular links, which is not optimal but better than the buggy behavior.

[2019-03-19 20:33] alranel commented on #272
Fixed. The italia-icon-font has no Slack icon so I used a generic one:

![Screen Shot 2019-03-19 at 21 33 17](https://user-images.githubusercontent.com/594957/54639852-a5dc4b00-4a8e-11e9-9b76-f121f6d1399b.png)

[2019-03-19 20:33] #272 closed

[2019-03-20 07:54] ioggstream opened #283 "Aggiungere API Regione Veneto"
## Bisogna

- [ ] Recuperare logo Regione Veneto
- [ ] Aggiungere API Regione Veneto

[2019-03-21 16:51] alranel opened #284 "Complete the English translation and re-enable the language switch"

[2019-03-23 09:17] #266 closed

[2019-03-23 11:43] alranel opened #287 "Display software scopes"
As of now, the software catalog can be browsed by category, according to the `categories` key of publiccode.yml.
We should also display the `intendedAudience.scope` key of the publiccode.yml file, in the software details pages, in the search engine sidebar and in home page.

Note that since `intendedAudience.scope` is an optional key, we should probably hard-code an additional "other" item that al

[2019-03-23 11:44] alranel commented on #287
As of https://github.com/italia/developers-italia-backend/commit/906dbb0a389a29523b50c584bce492aad6cdbb4c, the backend crawler also exports a `software_scopes.yml` file with the distinct values mentioned in the catalog.

[2019-04-08 14:10] libremente opened #301 "Screenshot previews in "interest related softwares" section are broken"
The size of the screenshots preview in the `interestRelatedSoftwares` section of a software page are not the same of the previews in the `/software` page.
As such, the resulting effect is shown:
![Schermata da 2019-04-08 16-09-44](https://user-images.githubusercontent.com/25111463/55730567-cad23700-5a18-11e9-8073-14e2d99cacf1.png)

which is unpleasant.
I'd suggest to uniform the size of the screen

[2019-04-10 19:39] libremente opened #302 "News link does not turn active when active"
The `news` `li` in the Linklist (menu) does not turn into `active` when, in fact, it is active. It's probably a mapping problem or a js issue. The `active` class is never applied.

[2019-04-12 09:22] francescozaia opened #303 "Decisione sul package manager JS da utilizzare"
Al momento il README fa riferimento a `npm install` ma nel repo non c'è il `package-lock.json`, ma il lock per Yarn. contestualmente andrebbe aggiornato anche il file di configurazione per CircleCI.

[2019-04-15 09:16] alranel commented on #302
Fixed.

[2019-04-15 09:16] #302 closed

[2019-04-15 09:16] alranel commented on #284
Done.

[2019-04-15 09:16] #284 closed

[2019-04-15 10:40] ioggstream opened #304 "Add ioggstream to contacts"
## Task

Add @ioggstream to contacts

[2019-04-15 15:26] #304 closed

[2019-04-15 15:26] alranel commented on #304
Fixed by #305

[2019-04-16 20:16] libremente opened #308 "Graphical glitch on top link list"
I see the link list in this way:
![Schermata da 2019-04-16 22-14-13](https://user-images.githubusercontent.com/25111463/56241072-3a899700-6095-11e9-9d5a-7964d5759716.png)
with a floating white bar at the bottom.

[2019-04-17 16:29] libremente opened #310 "SVG not loading correctly"
This SVG `it-telephone` is not loading properly.
See:
![Schermata da 2019-04-17 18-26-51](https://user-images.githubusercontent.com/25111463/56304499-83e1f100-613e-11e9-8a1c-92828874a0df.png)

@francescozaia said this is probably due to the fact that both the old and the new way of handling the fonts is used.

[2019-04-17 17:04] libremente commented on #303
Idee @francescozaia? Sicuramente yarn è più veloce, io voterei per quello.

[2019-04-17 17:06] libremente commented on #273
Now (FF 66 - GNU/Linux OS):
![Schermata da 2019-04-17 19-01-12](https://user-images.githubusercontent.com/25111463/56306802-bb06d100-6143-11e9-95a6-5548522de26f.png)
with mouse over -> double underline

[2019-04-17 20:57] francescozaia commented on #310
I'll have a look at it asap!

[2019-04-18 09:49] francescozaia commented on #303
E allora [`pnpm`](https://pnpm.js.org/)? 😄
Per ora, visto che [non c'è un chiaro vincitore](https://iamturns.com/yarn-vs-npm-2018/) tra i due più usati e che all'interno del repo c'è anche un altro progetto che usa già `npm`, rimarrei su quello semplicemente consolidando lockfiles, readme, ecc.

[2019-04-18 09:50] libremente commented on #303
Velocissimo! :rocket:
Ok per mantenere npm per me

[2019-04-23 08:33] alranel opened #315 "Multi-language news"
As of now, a single /news section is shared by both the Italian and English version. In order to support multi-language posts we should split it into /it/news and /en/news.

[2019-04-23 08:38] alranel commented on #275
Done by @francescozaia (thank you!)

[2019-04-23 08:38] #275 closed

[2019-04-24 10:26] alranel opened #318 "Features rendering should not be based on isBasedOn"
As of now, the presence of the `publiccode.isBasedOn` field is used for determining the layout of the feature section in the software catalogue.

However, such field might reference software that is not in the catalogue, so there's no point in using the layout designed for displaying forks. We should only rely on the `oldVariant` element, which is computed by the crawler according to the fork grap

[2019-04-24 11:01] sebbalex commented on #301
Actually as for spec we do have a suggested format for those images but in real use they are in different ratio. IMHO I'd suggest to avoid to have images at fixed size it may resulting in some graphic stretch.

One possible solution is crop, see below for preview:
![Screenshot 2019-04-24 at 12 46 38](https://user-images.githubusercontent.com/11008116/56654679-ef711480-6690-11e9-8198-475b2680d533.p

[2019-04-24 11:15] alranel commented on #301
I vote for cropping. That's what we already do in other pages IIRC.

[2019-04-24 11:17] libremente commented on #301
Crop may be a good solution, however, the drawback is that some previews will be totally senseless (see the third one in your example).
I think in this phase that's not a big deal, we can go for cropping and then we can arrange something cleaner

[2019-04-24 13:12] sebbalex commented on #301
Sure, we can figure out for something cleaner later in future.

[2019-04-24 15:02] sebbalex commented on #301
Closed by commit ebdf70c

[2019-04-24 15:02] #301 closed

[2019-04-24 16:22] sebbalex commented on #267
Reactivated Photoswipe. Unexpected behaviour was due to undefined size of images. Now they are calculated directly from DOM.
Still under investigation this [data-size fileds](https://github.com/italia/developers.italia.it/blob/2312a5ba1b1f0877e50aff611485d5cfb8c96058/_includes/tiled-gallery.html#L5) which contains the unset `image` variable

[2019-04-24 16:22] #267 closed

[2019-04-26 16:14] sebbalex commented on #262
Sorting is based on `name` field which is mapped as `type: text`. By default text fields are disabled for performance issues.
[see mapping here](https://github.com/italia/developers.italia.it/blob/new-version-master/_es_mappings.yml#L60)
[doc here](https://www.elastic.co/guide/en/elasticsearch/reference/current/fielddata.html#_fielddata_is_disabled_on_literal_text_literal_fields_by_default), [and

[2019-04-29 10:38] alranel commented on #262
I would consider this: https://www.elastic.co/guide/en/elasticsearch/reference/6.4/multi-fields.html

[2019-04-29 11:16] alranel commented on #318
This is the original mockup to use when a software has variants (based only on the `oldVariant` element, ignoring `isBasedOn`):

![Screen Shot 2019-04-29 at 12 58 46](https://user-images.githubusercontent.com/594957/56892776-f1681880-6a80-11e9-9d1c-6b536b539a70.png)

[2019-04-29 11:18] alranel opened #319 "Improve screenshots in the software catalogue"
The Photoswipe bug (#267) was fixed but we should still improve how screenshots are rendered, by not showing them in full size but applying a `max-width` so that they are resized and no vertical scrollbar is displayed:

![Screen Shot 2019-04-29 at 12 53 00](https://user-images.githubusercontent.com/594957/56892829-15c3f500-6a81-11e9-9dd3-fdbac48f950c.png)

[2019-04-30 08:16] alranel commented on #319
Also, some screenshots are stretched for no reason:
![Screen Shot 2019-04-30 at 10 16 32](https://user-images.githubusercontent.com/594957/56948639-0dc38e00-6b31-11e9-8f7c-7eb94801f466.png)
![Screen Shot 2019-04-30 at 10 16 14](https://user-images.githubusercontent.com/594957/56948640-0e5c2480-6b31-11e9-8e4f-c232121cda7d.png)

[2019-05-06 09:15] alranel commented on #262
Software entries do not have a `name` field (they have `publiccode.name` instead) so we should also order by that one

[2019-05-07 09:39] #262 closed

[2019-05-07 09:57] #315 closed

[2019-05-07 14:15] alranel commented on #303
Questa si può chiudere @francescozaia, vero?

[2019-05-07 14:16] alranel commented on #310
This is fixed now (thank you @francescozaia!):

![Screenshot 2019-05-07 at 16 16 13](https://user-images.githubusercontent.com/594957/57306626-75567c00-70e3-11e9-8780-25e227dcdbb1.png)

[2019-05-07 14:16] #310 closed

[2019-05-07 14:17] #40 closed

[2019-05-07 14:17] alranel commented on #40
Outdated issue, I'm closing

[2019-05-07 14:19] alranel commented on #114
Done!

[2019-05-07 14:19] #114 closed

[2019-05-07 14:20] alranel commented on #13
Sistemato (da tempo!)

[2019-05-07 14:20] #13 closed

[2019-05-07 14:20] #14 closed

[2019-05-07 14:20] #5 closed

[2019-05-07 14:25] alranel commented on #70
Ora sì

[2019-05-07 14:25] #70 closed

[2019-05-07 14:26] alranel commented on #82
La privacy policy è in attesa di traduzione. La seconda issue ad oggi non è più presente

[2019-05-07 14:26] #82 closed

[2019-05-07 14:27] alranel commented on #159
Sistemato

[2019-05-07 14:27] #159 closed

[2019-05-07 14:29] alranel commented on #54
Issue risolta nei giorni scorsi in #321 by @sebbalex e @libremente

[2019-05-07 14:29] #54 closed

[2019-05-07 14:30] alranel commented on #38
Tutte cose sistemate ad oggi, chiudo

[2019-05-07 14:30] #38 closed

[2019-05-07 14:30] alranel commented on #37
Ad oggi abbiamo creato https://developers.italia.it/it/come-partecipo, chiudo

[2019-05-07 14:30] #37 closed

[2019-05-07 14:32] alranel commented on #35
Obsoleta, non abbiamo più un menu strumenti

[2019-05-07 14:32] #35 closed

[2019-05-07 14:34] alranel commented on #26
Chiudo questa (utile) segnalazione perché il problema è stato risolto al tempo :-)

[2019-05-07 14:34] #26 closed

[2019-05-07 14:34] alranel commented on #24
Risolta tempo fa, chiudo

[2019-05-07 14:34] #24 closed

[2019-05-07 14:35] alranel commented on #21
Il problema non si è più presentato, chiudo

[2019-05-07 14:35] #21 closed

[2019-05-07 14:35] alranel commented on #3
Obsoleta, chiudo

[2019-05-07 14:35] #3 closed

[2019-05-07 14:36] alranel commented on #4
Obsoleta, chiudo

[2019-05-07 14:36] #4 closed

[2019-05-07 14:36] #8 closed

[2019-05-07 14:36] #20 closed

[2019-05-07 14:42] alranel commented on #273
Fixed

[2019-05-07 14:42] #273 closed

[2019-05-07 14:43] alranel commented on #257
We have no FAQs anymore :-)

[2019-05-07 14:43] #257 closed

[2019-05-07 14:57] libremente commented on #319
In FF 66 on GNU/Linux I see it in this way:
![Schermata da 2019-05-07 16-56-33](https://user-images.githubusercontent.com/25111463/57309919-31667580-70e9-11e9-9be5-fd74a10d6423.png)

[2019-05-08 07:39] #303 closed

[2019-05-09 16:59] sebbalex commented on #319
Closed by commit 92ba08b

[2019-05-10 14:52] libremente opened #324 "Avoid redirect to home when using language switch"
Right now, when using the language switch the user is redirected to the homepage. This is quite counterintuitive and breaks the navigation flow. It should prompt the same page but localized in the language selected.

[2019-05-11 07:32] alranel opened #325 "Bug: CircleCI build should not succeed in case of Jekyll/Elasticsearch error"
Today an empty website was deployed. The CircleCI build had failed because of the following error:

[code]

but the `bundle exec jekyll build` command exited with 0, thus CircleCI proceeded with the deploy step.

We should:
* investigate why this error was raised;
* fix the searchyll plugin so that the process exits with a non-zero error.

In case a quick fix is not possible, we should add some ma

[2019-05-11 19:49] alranel commented on #325
When I re-run the job, it succeeded but emitted the following warning:

[code]

[2019-05-11 19:51] alranel commented on #325
The job before the one that failed had emitted the following non-fatal warning:

[code]

No errors or warnings were emitted by the previous one.

[2019-05-11 21:37] alranel commented on #325
Fixed.

[2019-05-11 21:37] #325 closed

[2019-05-12 07:59] alranel commented on #325
The main cause for this issue was that CircleCI was still doing the daily build for both `master` and `new-version-master`, thus triggering concurrency problems with Elasticsearch. I deleted `new-version-master` now.

[2019-05-14 10:39] alranel opened #326 "Display a placeholder when external images are not found"
We load software screenshots directly from their code hosting websites, such as GitHub raw. Such URLs may get broken when something is changed in the original repository. Our crawler automatically checks image existence at each run, so the data used for rendering the catalogue is always clean and does not reference non-existing images; however, there might be a lag between the upstream change, the

[2019-05-14 10:45] alranel opened #327 "Bug: wrong og title for software catalogue pages"
The `slug` field is used in the og:title field of the software catalogue, which is not good. We should show something like `Developers Italia - <software name>`.

[2019-05-14 13:03] sebbalex commented on #319
Reopened: Safari is still affected by this issue

![Screenshot 2019-05-14 at 15 02 21](https://user-images.githubusercontent.com/11008116/57700022-63338b00-7659-11e9-81f8-a1e86b28a920.png)

[2019-05-17 10:25] libremente opened #328 "Show all features does not toggle"
When a long list of features is present in the publiccode.yml file, the `Show all` link is displayed. However, after selecting it, that link is not `toggled`, meaning that it remains the same. Maybe we should add some BSI class to it in handle the toggle or show the user that the link has been clicked.
See screenshot about current situation:
![Schermata da 2019-05-17 12-18-32](https://user-images.

[2019-05-21 09:21] libremente opened #330 "Disable link to maintainer when the value is undefined"
Right now, the `contract` field inside a software card is always populated as a link.
However, since the `website` key of the contractors is *not* mandatory, there should be some logic to check this.
My guess is that the `contractors.website` in the template context will be undefined / empty.
See this image to know the exact location of the issue:
![Schermata da 2019-05-21 10-28-33](https://user-i

[2019-05-21 09:27] libremente opened #331 "Restructure the software page"
The software section has two subsections, one for reuse sw and one for FOSS. I believe we should insert some sort of pagination for both subsections since, if not, the `FOSS` subsection will be pushed in the very bottom of the page and won't be visible.
Maybe the jekyll pagination plugin could help.

[2019-05-21 15:03] #328 closed

[2019-05-21 15:21] sebbalex commented on #326
Closed by commit 511bba1

[2019-05-21 15:21] #326 closed

[2019-05-22 16:19] sebbalex commented on #327
og:title is created by [jekyll-seo-tag](https://github.com/jekyll/jekyll-seo-tag) which use `page.title` var to populate title tags.

Pages under software are created by [datepage_gen](https://github.com/avillafiorita/jekyll-datapage_gen) plugin where `page.title` tag is set to `data[name]` with `name` set to `slug` [here](https://github.com/italia/developers.italia.it/blob/master/_config.yml#L171

[2019-05-22 17:51] sebbalex commented on #327
As discussed offline go for last chance, modifying plugin as for our needs.

[2019-05-22 17:53] #327 closed

[2019-05-24 08:10] libremente opened #333 "API page rendering problem"
The API page on the website has some issues. For example, see how this page is rendered:
![FireShot Capture 003 - Data   Analytics Framework CKAN API - developers italia it](https://user-images.githubusercontent.com/25111463/58312308-535f3800-7e0b-11e9-9854-7c08ad183962.png)

1) Now it is linked to this repo https://github.com/teamdigitale/api-openapi-samples/. Is this OK @alranel? Should we think

[2019-05-27 14:32] alranel opened #334 "Generate pages for individual public entities"
Goal: provide each public entity with their own page on Developers Italia where their software is automatically listed.

* URL: /it/pa/<ipa> (ad es. /it/pa/m_it)
* L’interfaccia sarà quella del motore di ricerca con le seguenti variazioni:
   * prima dei risultati mostriamo un secondo header con il nome dell’ente e l’URL del sito web (e una breve introduzione del tipo “questa pagina contiene il so

[2019-05-27 14:33] alranel opened #335 "Add logo to pages for individual public entities"
Prerequisite: #334

Modifiche alla pagina dell’ente:
* accanto al nome dell’ente inseriamo il logo dell’ente, se presente

Modifiche all’onboarding:
* chiedere caricamento logo (opzionale)
* facciamo il resampling automatico a max 200px di lato, PNG e lo archivia in repo-list in base64;
* il crawler scrive l’immagine in base64 nel suo file whitelist.yml e poi la riesporta nei file YAML destinati a

[2019-05-27 14:34] alranel opened #336 "Add used software to pages of individual public entities"
Prerequisite: #334

Modifiche alla pagina dell’ente:
* prima dei risultati di ricerca aggiungiamo il selettore per software pubblicato/usato dall’ente (in una milestone successiva)

Modifiche all’editor:
* il campo usedBy viene popolato con il dropdown di IndicePA che quindi forzerà i nomi corretti

Modifiche all’issueopener:
* qualora trovi degli elementi in usedBy i cui nomi non corrispondono a

[2019-05-27 14:42] #75 closed

[2019-05-27 14:43] alranel opened #337 "Restore the "cosa fare" page"
The previous website had a "Cosa fare" page which listed all the issues in github.com/italia having the "help wanted" label (see #65 ). This page was not included in the first release of the new website.

We should restore this page. If the client-side rendering with the search engine is too complicated to restore, we should at least do a basic Jekyll server-side rendering with no pagination.

See

[2019-05-28 14:20] libremente opened #338 "Translate the "Relevance" string in the A-Z sort filter"
As of now, the A-Z filter prints `Relevance` in English. I believe we should translate it. Is it possible to localize it?

[2019-06-11 13:20] libremente opened #339 "Switch logo from PNG to SVG"
Right now the logo is in PNG format and it does not have the same background color as the header background.
https://developers.italia.it/assets/icons/logo-it.png
As such, I'd suggest to switch from the PNG to a SVG.

[2019-06-11 13:23] libremente commented on #333
Momentary fix: when the "In Arrivo" logo is shown, the name of the solution should *not* be linked to the API page (which, of course, does not contain anything). I think it's just a matter of removing that link @sebbalex

[2019-06-17 11:43] alranel opened #341 "Variants are not correctly displayed"
https://developers.italia.it/it/software/pcm-teamdigitale-pdnd-open-notebooks
is based on
https://developers.italia.it/it/software/pcm-teamdigitale-daf-nteract
which is based on
https://github.com/nteract/nteract

The page for pdnd-open-notebooks should display:

* the name of the publisher of daf-nteract
* the vitality index of daf-nteract
* the diff of features between daf-nteract and pdnd-open-

[2019-06-17 11:48] alranel commented on #341
Maybe I can also move `oldFeatures` within `oldVariants`.

[2019-06-18 17:15] alranel commented on #341
The name of the publisher is located in `variant.publiccode.legal.repoOwner`.

I think that `vitalityScore` can be fetched directly in Jekyll by doing something like this:

[code]

The diff of features computed between the current software and *all* the variants is located in `oldFeatures` (this is why the diff is not under the single variants).

I think no change is needed on the the YAML files a

[2019-06-24 08:37] #319 closed

[2019-06-24 09:06] sebbalex commented on #341
As for this statement:

This is correct, then in yaml I won't expect a variant for `daf-nteract`, it should be available only for `pdnd-open-notebooks` correct?
@alranel

[2019-06-24 12:02] sebbalex commented on #341
Yes this is correct, variants are only for related software in catalog.

[2019-06-24 12:02] #341 closed

[2019-06-25 09:22] libremente opened #343 "Translate "note-legali" page in English"
The `note-legali` page has to be translated in English.

[2019-06-25 16:35] libremente opened #344 "[Proposal] Add anchors in the catalogue page"
I believe that we should add two anchors in the `/software` page in order to correctly refer to the two different sections (PA OSS and third party OSS).

[2019-06-27 08:45] libremente opened #345 "Translate pages in English"
We have to translate the platform pages:
- IO
- Otello

and double check the others as well

[2019-06-27 08:55] #324 closed

[2019-06-27 08:59] sebbalex opened #346 "4xx & 5xx error pages"
Error pages are now shown from web server, they must be served by developers.italia.it style.

[2019-06-27 14:00] libremente opened #349 "[Proposal] Clearly highlight when sw has a proprietary dependency"
I believe it should be very clear when a software has a proprietary dep. I don't have a clear overview on how to implement this yet but it should something easy to spot which raises the awareness of the reader.

[2019-07-08 10:43] alranel commented on #334
Top-right text:

[2019-07-08 16:40] libremente opened #355 "Coming soon API broken link"
When an API is marked as `coming soon` it should be listed in that way in the `/api` listing but the links should not be active.
Right now the links (both in logo and title) are active and point to a broken page (no swagger definition is present so the page is broken). Those links should be safely removed from the layout.

[2019-07-09 08:08] #355 closed

[2019-07-10 14:50] libremente opened #359 "Visual issues in API pages"
Right now there are some problems with the API pages. Namely:
1. the DAF page is completely broken
2. the INGV one has some problems, see below:
![Schermata 2019-07-10 alle 16 04 28](https://user-images.githubusercontent.com/25111463/60979054-57e79d80-a332-11e9-8e24-6a391ad8711b.png)
3. inside the swagger specs visualization I believe there are some spacing issues:
![Schermata 2019-07-10 alle 15 3

[2019-08-07 06:58] biancini opened #363 "Add biancio to contacts page"
Add biancio as new TD team member to the contacts page.

[2019-08-07 08:37] sebbalex commented on #363
PR merged

[2019-08-07 08:37] #363 closed

[2019-08-08 15:30] libremente opened #365 "Add visual feedback when crawler validation fails"
## Case study

- t0: A `publiccode.yml` file is correctly parsed by the crawler and the sw page is created in the catalog
- t1: A breaking change (bug) is inserted in the `publiccode.yml` file and erroneously pushed on master by the operator
- t2: The crawler fails the validation and, as such, the old page stays live - the new mods are not inserted.

Right now, at `t2` no feedback is sent to the c

[2019-08-09 13:01] libremente opened #461 "SVG logo not displayed"
Right now the SVG logos are not displayed in the sw listing page. This is probably due to the wrong MIME Type.
A possible solution would be to download the file locally and then display it from the local folder.
![Schermata 2019-08-09 alle 14 58 43](https://user-images.githubusercontent.com/25111463/62780566-4c64cf00-bab6-11e9-9342-f39ed8f1f91e.png)

[2019-08-12 16:54] libremente opened #368 "Include subtitle in software listing page"
I believe that the software listing page should also contain a subtitle.
Right now the title is not self explicative enough and it does not help the reader.

[2019-08-14 14:41] alranel opened #369 "Check how software is ordered in the catalog"
– Search results: it should be ordered by relevance and descending vitality
– Software page: it should be ordered randomly
– Home page: it should be ordered randomly
– Public entity page: it should be ordered alphabetically

[2019-08-14 14:51] alranel commented on #331
As discussed, the /it/software and /en/software pages should be changed like this:

* Intro text
* The catalog of Developers Italia contains *n* entries published by Public Entities and *n* published by third-party developers.
* Two big buttons (find better/shorter labels):
   * [Click here to browse software published by Public Entities](https://developers.italia.it/it/search?type=reuse_software)

[2019-08-14 14:52] alranel opened #370 "Bug: incomplete title if no search query is entered"
If no search term is entered, this incomplete title is displayed:

![Screenshot 2019-08-14 at 16 51 50](https://user-images.githubusercontent.com/594957/63031146-d85e6880-beb3-11e9-970b-05420e4988ef.png)

We should actually replace that title with an editable text input that allows the user to change the search term interactively.

[2019-08-16 09:33] libremente opened #372 "Screenshot not displayed in search section"
When browsing `https://developers.italia.it/it/search?type=software_open` the logos are not correctly displayed as shown below:
![Schermata 2019-08-16 alle 11 28 29](https://user-images.githubusercontent.com/25111463/63158267-322c7300-c019-11e9-9848-a0cb7664cbb8.png)

[2019-08-16 14:39] libremente commented on #372
Furthermore, right now the search pages shows exclusively the screenshots, see this code section for reference:
https://github.com/italia/developers.italia.it/blob/fd3adbed9c73cb7be1da47fcb1aaf29ebfe3ff1e/assets/scripts/esDevelopersItaliaQuery.js#L875-L881

Maybe this is a feature and not a bug, however I would add the possibility to show the logo in the same way we handle the software listing pag

[2019-08-16 15:38] libremente commented on #344
This issue is superseeded by https://github.com/italia/developers.italia.it/issues/331#issuecomment-521279653. Closing

[2019-08-16 15:38] #344 closed

[2019-08-16 15:42] libremente commented on #368
Probably also this one is superseded by https://github.com/italia/developers.italia.it/issues/331#issuecomment-521279653

[2019-08-16 15:48] libremente commented on #345
@luciopileggi could you handle the Devops page?

[2019-08-17 11:23] libremente commented on #359
Point *.2* seems fixed now.

[2019-08-17 15:01] libremente commented on #359
The DAF page is not rendered due to a React error.
[code]
Maybe @sebbalex we could dive into this together.

[2019-08-19 08:52] #339 closed

[2019-08-19 09:41] #372 closed

[2019-08-20 06:32] libremente opened #379 "CI/CD fails when email address not present in publiccode.yml"
As shown in https://circleci.com/gh/italia/developers.italia.it/1574, the build fails due to an htmlproofer check which expects to find an email address in the `contacts` section of a software page. Please note: the email address is not mandatory and, as such, the `pcvalidate` does not fail.
Personally I don't think it's safe to make an entire build cycle fail because of a problem in an external f

[2019-08-20 06:44] libremente commented on #379
A trivial solution would be to check if contact email is != nil https://github.com/italia/developers.italia.it/blob/db734cbb2a048abf6ff5fd81c1264b8d368b9e72/_layouts/software-details.html#L76

[2019-08-20 09:57] sebbalex commented on #337
It is important to understand where we should link the page. Also consider to create a snippet as a simple jekyll include layout file.
Possible pages where we could reach this page are: `Platforms`, `How to`

[2019-08-20 10:40] libremente commented on #379
Fixed by #380

[2019-08-20 10:40] #379 closed

[2019-08-21 08:12] ioggstream commented on #359
@libremente we could simplify the yaml and check if there's some parsing issue out there.

[2019-08-21 15:52] libremente commented on #359
@ioggstream first draft response: the problem lies in the `x-project: daf` value. Removing it makes the whole project compile again and the visualization is not broken as a result.
As such, I digged a bit in the code and I found that the real problem lies in the way such value is treated, in particular the fact that in `Hero.js` there was a check against a list which was not correctly imported.
Im

[2019-08-22 10:40] libremente opened #386 "Design workflow to remove entry from catalog"
Entries may be removed from the catalog for several reasons.
However, right now there is not an easy way to completely purge an entry from the catalog.
I believe we should design a workflow in order to obtain such a result flawlessly.

[2019-08-23 11:24] sebbalex commented on #334
Closing by 2387409

[2019-08-23 11:24] #334 closed

[2019-08-23 13:37] libremente commented on #337
https://github.com/italia/developers.italia.it/pull/357 reintroduces the page. However, we still don't have a link to it.

[2019-09-02 10:31] libremente opened #388 "Encoding error in search page"
When searching for a word containing an accent, the result is broken. See the image:

URL: https://developers.italia.it/it/search?keyword=universit%C3%A0&page=0&sort=relevance
Screen:
![Schermata 2019-09-02 alle 12 30 35](https://user-images.githubusercontent.com/25111463/64108638-9d967480-cd7d-11e9-9645-d92e2df0d5b6.png)

[2019-09-02 10:36] libremente opened #389 "Show information relative to the conforme key"
Right now, the key `conforme`, together with its subkeys, is not shown.
I think this has to appear. It can be a 5th col next to `Piattaforme Abilitanti` or somewhere else but it's quite relevant IMHO.

[2019-09-02 10:37] libremente commented on #359
Fixed, closing.

[2019-09-02 10:37] #359 closed

[2019-09-02 10:44] libremente commented on #274
I believe that right now if there is no content we should use the `comingsoon: true` option so an empty page *should* not be shown. Should we close this issue? @ioggstream

[2019-09-02 10:50] libremente commented on #333
https://github.com/italia/developers.italia.it/pull/356 removes the link when the `comingsoon` option is set to true. Closing this issue.

[2019-09-02 10:50] #333 closed

[2019-09-02 12:43] #274 closed

[2019-09-02 12:43] ioggstream commented on #274
ok

[2019-09-02 16:17] alranel opened #390 "Pages for public entities should list software regardless of the iPA code case"
This page:
https://developers.italia.it/it/pa/pcm
should also list the "IO" software but it doesn't show up because the iPA code has different case. We should filter software in a case-insensitive way.

[2019-09-03 13:39] sebbalex opened #392 "Software status filter in search page is broken"
By selecting more than one option of software status filter in search page, 0 softwares are shown, even if they match the selected criteria.

An `undefined` is given as searched word.
Pagination footer seems broken as well.

![Screenshot 2019-09-03 at 15 25 44](https://user-images.githubusercontent.com/11008116/64177202-4cf74800-ce5f-11e9-839f-6a83e5ad8cab.png)

[2019-09-03 15:42] alranel commented on #331
As discussed today, the two big buttons should be replaced by the larger white/blue template we use in several pages including /it/riuso. Let's try with no image first.

Let's have a "View all" button below each section, linked to the search results with no filter but ordered according to the criteria used for the section.

This page should also include one more block with the gallery of publisher

[2019-09-03 15:44] alranel opened #393 "Link to the publisher page from the software pages"
The publisher name in the software detail pages should be linked to the /it/pa/* page of that publisher.

[2019-09-03 15:45] sebbalex commented on #337
As discussed we should place the link inside `Platform` page below the right subtitle and in `Get Involved` page in `Platform` section as a simple button with `Contribute` label.

[2019-09-04 10:36] sebbalex commented on #390
@alranel Jekyll array filters don't support case manipulation, it would be a little tricky to show IPA in a case-insensitive way. Could we consider to manipulate ipa case one step above in the chain?

[2019-09-04 10:47] libremente opened #395 "dependsOn values not correctly rendered"
As of now, the `dependsOn` values are not correctly rendered. I am not sure whether this problem lays in the backend (@sebbalex) or in the template. I'd also think about this issue (https://github.com/italia/developers.italia.it/issues/349) since it's connected.

[2019-09-06 18:19] biancini commented on #60
Implemented dashboards on the Team pages, here:

- Slack: http://bit.ly/dboard-slack
- Forum: http://bit.ly/dboard-forum
- Github: http://bit.ly/dboard-github

[2019-09-06 18:19] #60 closed

[2019-09-07 16:44] sebbalex commented on #337
Closed by commit 6f9ad7c

[2019-09-07 16:44] #337 closed

[2019-09-10 08:27] libremente opened #397 "Tweak the recommendation system logic"
As of today, the reccommended software section is not working as expected. In fact, the same software are shown over every page. I would suggest improving it for example exploiting the score returned by elasticsearch.
However, which are the intended keywords to perform such a search?
@sebbalex

[2019-09-10 08:30] libremente commented on #397
Some may be:
* Categories
* Platforms
* License?
* Dependencies?
Does it make sense to use also the "usedBy" values to reccomend a software? Or something like "PA "A" also uses..."?

[2019-09-10 13:30] biancini opened #398 "Add IndicePA in the list of platforms"

[2019-09-14 12:57] #398 closed

[2019-09-14 12:58] biancini commented on #398
Closed after merge of PR.

[2019-09-14 12:59] biancini opened #400 "Add NoiPA in the list of platforms"

[2019-09-14 13:04] biancini commented on #400
#401 created PR with the page after approval from MEF representatives.

[2019-09-16 09:54] libremente opened #402 "Search parameters not correctly passed"
When searching using the search modal and applying a filter and then pressing Enter, such a filter is not passed as a parameter and so the query is not correctly formed.

Example:
1. Open the search modal
2. Select "Reuse software"
3. Insert keywords
4. Hit enter

The resulting page does not carry the `?type=reuse_software` parameter.
I believe this is a bug, what do you think @sebbalex? I cannot

[2019-09-20 12:09] alranel opened #404 "Add pagopa-ios-sdk and pagopa-android-sdk to the pagoPA page"
Two new repositories were created under github.com/italia:

* pagopa-ios-sdk
* pagopa-android-sdk

They are still empty but content should be uploaded soon. They should be listed in the pagoPA page in Developers Italia.

[2019-09-24 09:50] sebbalex opened #406 "Data produced by crawler should be public"
Data produced by crawler are stored server side and CircleCI on each commit tries to rsync them to make a fresh and aligned build. When PR comes from external branch CCI doesn't set env vars for security reasons and that rsync will fail. Data are used to create page/card which are public thus we should consider to publish them too. This will allow us to have a more simplified CI pipeline and will

[2019-09-24 10:08] libremente commented on #406
What do you mean by "publish them"? @sebbalex

[2019-09-24 12:07] sebbalex commented on #406
we could think to serve them under a static folder in webserver

[2019-09-27 12:45] libremente opened #410 "Check the publiccode ipa with the onboarding ipa"
I believe the crawler should double check if the ipa declared in a publiccode.yml file is exactly the one expected (the one declared during the onboarding for that specific administration). Of course this is valid exclusively for the PAs, not for third party software.

[2019-10-02 15:17] libremente commented on #36
This issue is related to the old version of the website. Closing for now.

[2019-10-02 15:17] #36 closed

[2019-10-02 15:38] #58 closed

[2019-10-02 15:40] libremente commented on #261
Still valid, check this @sebbalex

[2019-10-02 15:42] libremente commented on #256
Right now it seems they are indexed twice (en and it) with the same title (in italian).

[2019-10-02 15:44] libremente commented on #270
Could you give us an hint about this? @francescozaia @sebbalex

[2019-10-02 15:45] libremente commented on #271
Still holds, inserting in 2.3.1 milestone.

[2019-10-02 15:53] libremente commented on #338
Fixed by #360. Closing.

[2019-10-02 15:53] #338 closed

[2019-10-02 15:56] libremente commented on #390
This is linked to https://github.com/italia/developers-italia-backend/issues/101

[2019-10-02 16:03] libremente commented on #395
For example, see this: https://developers.italia.it/it/software/c_a116-opencontent-openagenda-translate
which has a proprietary dependency. @sebbalex

[2019-10-02 16:51] ffranchina commented on #330
Hello @libremente, could you please post an example URL where the problem occurs? Thanks in advance!

[2019-10-02 17:00] luciopileggi opened #414 "Visual issue when browser window width is in range 991-768 pixels"
Visual issue when browser window width is in range 991-768 pixels:
![developers italia it-bug](https://user-images.githubusercontent.com/265532/66065117-07ee3080-e547-11e9-982b-1408ec042076.png)

 (OSX Chrome v.77, Safari v.13.01)

[2019-10-02 18:37] libremente commented on #330
Hi @ffranchina, this should be a good case: https://developers.italia.it/it/software/m_bac-istitutocentralecatalogounicobiblio-sbnweb-open

I believe it's just a matter of inserting a very simple if-then-else logic in the md file

[2019-10-02 18:51] libremente commented on #414
Thanks @luciopileggi, I am experiencing the same behaviour also on FF 69.

[2019-10-02 18:55] ffranchina commented on #392
Quick question about the `undefined` part of the issue: which message do you think it would be better to show? Is hiding it completely a viable option?

[2019-10-02 19:33] libremente commented on #406
👍

[2019-10-03 09:04] #270 closed

[2019-10-03 09:07] libremente commented on #392
@sebbalex ^^

[2019-10-03 10:20] libremente commented on #406
Let's serve the public folder via nginx @sebbalex

[2019-10-03 10:24] libremente commented on #390
Right now all IPA codes are automatically transformed to lowercase, see https://github.com/italia/publiccode-parser-go/commit/b11ec67f97e48f9bd010e6aa53e6e51803e8a127

[2019-10-03 12:23] ema-pe opened #419 "Feed RSS is an hidden feature"
Hi, I think that you should provide the ability to follow developers.italia.it news blog using feed RSS. I noticed that you have included ['jekyll-feed' plugin](https://github.com/italia/developers.italia.it/blob/master/_config.yml#L46), it serves a feed XML file on https://developers.italia.it/feed.xml. The problems are:

1. There are not feed RSS icons on https://developers.italia.it/it/news web

[2019-10-03 12:41] libremente commented on #419
Thanks @ema-pe for the issue!
You are right, ATM there is not a clear way to access that feed. We can schedule this in a later milestone but, if you would like to work on a proposal and open a PR, we can assist you in doing so.
👍

[2019-10-04 13:15] masihtak commented on #414
I'm working on it!

[2019-10-04 13:37] kerlon5 commented on #414
@libremente @masihtak
please, check my PR. sorry if I did something wrong with workflow, my first PR

[2019-10-05 12:49] masihtak commented on #414
@kerlon5 This is not an efficient way! actually you didn't solve the issue, you removed it! for beginning I recommend you start with small projects.

[2019-10-05 15:44] kerlon5 commented on #343
Added PR [#425](https://github.com/italia/developers.italia.it/pull/425) with translation

[2019-10-07 12:09] masihtak commented on #346
You need custom design for 4xx & 5xx error pages?

[2019-10-07 12:19] sebbalex commented on #346
Design must be in line with website style and following best-practice and rules of main theme [Bootstrap Italia](https://italia.github.io/bootstrap-italia/)

[2019-10-07 12:43] masihtak commented on #346
Ok, I will working on this as well

[2019-10-08 04:55] Pratyush1197 commented on #308
Hello I want to work on this issue Can you please tell me how it is expected to behave? Thanku

[2019-10-08 07:49] libremente commented on #308
HI @Pratyush1197 and thanks for the interest! Personally I don't like the fact that below the white bar there is still some blue space, it looks like it's floating. I'd like that white bar to be the last element in that div. What do you think @sebbalex?

[2019-10-08 08:04] sebbalex commented on #308
@libremente this is exactly what we meant with this issue. 👍

[2019-10-08 08:24] libremente opened #431 "Consider inserting an icon to denote external links"
When in the catalogue we have a link pointing to an external resource it could be nice to let people know it.
Probably something like:
[code]
as @lmillucci came up with.

[2019-10-08 08:42] Pratyush1197 commented on #431
I want to work on it. Can you please tell me the exact location where the icon is suppose to be present?

[2019-10-08 10:29] lucaros97 opened #432 "Graphic issue on search page results"
When searching for something the "no result" UI is not aligned very well and don't look very clear.

Below a screenshot:

![developers italia](https://user-images.githubusercontent.com/8333004/66388787-29c43900-e9c7-11e9-9153-e32cc4b2d7d1.PNG)

And here is my proposed solution:

![developers italia correct](https://user-images.githubusercontent.com/8333004/66388805-347ece00-e9c7-11e9-9c9b-afebb7af

[2019-10-08 12:17] Pratyush1197 commented on #308
Ok I will try to improve the design as you mentioned Thanku :)

[2019-10-08 12:21] Lawrence4code commented on #431
I'd like to work on this, please.

[2019-10-08 13:13] ffranchina commented on #271
Hello @libremente, I tried to reproduce this issue with no success (https://developers.italia.it/it/search?type=platforms&page=1&sort=relevance). Is it browser dependent or meanwhile has been solved by some other commit? Thanks :)

[2019-10-08 13:39] ffranchina commented on #392
@sebbalex, any opinion on this?

[2019-10-08 15:32] sebbalex commented on #392
I would keep the subtitle message since it represent a sort of "guide" on what to do next. I'd just say something like: "La parola cercata non ha prodotto nessun risultato. Prova un'altra chiave di ricerca."
Thanks

[2019-10-08 16:31] ffranchina commented on #392
Great, thanks! Tomorrow morning, I'll submit the PR :)

[2019-10-08 17:22] libremente commented on #432
Hi @lucaros97 and thanks for the contribution. I feel the same. Could you please open a PR so that we can check the code behind the GUI? Thanks a lot!

[2019-10-08 21:54] lucaros97 commented on #432
Opened PR!

[2019-10-10 08:49] #330 closed

[2019-10-10 08:54] libremente commented on #431
Hi @Pratyush1197 and @Lawrence4code , I believe @lmillucci is already working on this issue.

[2019-10-10 12:13] lmillucci commented on #431
I 'am pretty busy at the moment. If you want you can work on this issue :)
@Pratyush1197 @Lawrence4code

[2019-10-10 16:03] #392 closed

[2019-10-10 16:14] Lawrence4code commented on #431
Hey all, since @lmillucci is busy, let me know if I can continue resolving this. Thanks

[2019-10-10 18:44] libremente commented on #431
Yes 👍

[2019-10-15 09:53] #388 closed

[2019-10-15 12:48] #406 closed

[2019-10-15 13:25] #402 closed

[2019-10-15 16:30] #400 closed

[2019-10-16 17:09] ioggstream opened #444 "API builder replaces 'it' with 'en' in the slug"
## Reproduce

In the following build:

- https://circleci.com/gh/italia/developers.italia.it/1857?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

The generated html page is correctly

`  ./_site/en/api/dispositivi-corrispettivi.html`

while the link replace `it` with `en` resulting in the following error `disposENivi`

[code]

[2019-10-22 09:21] libremente commented on #271
Hi @ffranchina, it that page it is OK, but not on this one: https://developers.italia.it/it/piattaforme/

[2019-10-22 13:57] #393 closed

[2019-10-22 14:04] libremente commented on #331
Fixed by #407, closing! 🎉

[2019-10-22 14:04] #331 closed

[2019-10-24 08:36] libremente opened #446 "Search filter bug when using pagination"
When browsing the results of a search and using the pagination, the URL gets the page number as a parameter, see for example:
https://developers.italia.it/it/search?type=reuse_software&page=1&sort=relevance
with `page=1`.
However, if I apply the type filter on this, the URL changes to:
https://developers.italia.it/it/search?type=software_open&page=1&sort=relevance
so the `type` parameter has chang

[2019-10-24 13:03] #432 closed

[2019-10-25 09:33] libremente opened #449 "Change way mailup is handled on the frontend"
Right now, the newsletter form in homepage redirects to a mailup page. This is suboptimal. I think we can use an API call via AJAX and avoid redirecting using a target blank.
@sebbalex

[2019-10-25 12:49] libremente opened #450 "Restructure search"
With the new software page introduced in #407, the search page becomes fundamental. As such, it is necessary to review the way it works, the strings printed and so on.

1. User arriving from /software, no keywords passed, only one filter applied
1.1 The results page displays the name of the filter (e.g., "Software a Riuso" / "Software Open Source di Terze Parti"), the filter is selected on the lef

[2019-10-28 10:04] libremente opened #451 "Dependencies are not shown"
As of now, the dependencies are not shown.
This is probably due to a problem with a file named `dependency.html` (https://github.com/italia/developers.italia.it/blob/master/_includes/dependency.html).
See:
https://github.com/italia/developers.italia.it/blob/42928680b8f2efcbb2d7f8fca35d5a582c0d0b6f/_layouts/software-details.html#L473-L492

This is very ugly since the `t.software.dependencies_list`

[2019-10-28 10:09] libremente commented on #349
This is somewhat linked to #451, since, in the case of proprietary dependencies, it could be nice to slightly highlight it in the template.

[2019-10-28 13:26] libremente commented on #451
My guess: `dependencies` does not exist in `softwares.yml`

[2019-11-06 09:53] #271 closed

[2019-11-06 09:55] libremente commented on #451
Fixed by #453.

[2019-11-06 09:55] #451 closed

[2019-11-06 13:20] libremente commented on #390
This should be fixed, right @sebbalex? Can I close this?

[2019-11-06 13:21] sebbalex commented on #390
Yes, it is @libremente, close it.

[2019-11-06 13:24] libremente commented on #395
Fixed by #453. Closing.

[2019-11-06 13:24] #395 closed

[2019-11-06 13:24] #390 closed

[2019-11-06 14:55] libremente commented on #268
Should we create a specific documentation section for this? I don't think that the tooltip is enough. @alranel

[2019-11-07 09:03] libremente opened #463 "Insert vertical scroll for long lists in catalogue"
Right now the list of supported languages is static and it can get quite long, see https://developers.italia.it/it/software/globaleaks-globaleaks-f22648 for an example. I guess the same structure used in "Categories" in the https://developers.italia.it/it/search page may work. This means using a "See more" button which explodes a div with a vertical scroll.
Furthermore, this should be true for all

[2019-11-07 16:04] libremente commented on #461
Merged #465. Closing.

[2019-11-14 10:46] sakshi1499 opened #471 "Readme should be in English as well"
I think it would be good if the readme of this repository is in English as well. This will help developers who do not understand Italian can understand it easily.

[2019-11-14 15:49] sebbalex opened #473 "Pages have slug with dots are not correctly created and linked"
Page slug containing dots are not correctly generated, jekyll's plugin tends to interpretate as a subfolder.

Ex:
`slug:uni_ct-UniCt-Easy-Easy-Uni.Co.`

jekyll generates it:
`Writing: .../_site/it/software/uni_ct-unict-easy-easy-uni.co/html.html`

and now as we expect:
`https://developers.italia.it/it/software/uni_ct-unict-easy-easy-uni.co.`

Solutions are two:
- Changing the plugin act [here](htt

[2019-11-14 18:40] libremente commented on #471
Hi @sakshi1499 and thanks for your contribution! You are perfectly right, I have been working on a new version of the README which will be live soon.

[2019-11-15 07:06] sakshi1499 commented on #471
Oh that is great, I'd love to help if you need some.

[2019-11-15 07:08] sakshi1499 commented on #370
If you add the searched word to be displayed directly on the screen, It will create XSS bug. Another alternative can be that you show what has been searched in the search box only.

[2019-11-15 07:15] sakshi1499 opened #474 "Email restricter should be added"
While registering any email is allowed to be input, email restriction parameter should be added.

Find a screenshot below where email has been sent to an invalid email id.
![email](https://user-images.githubusercontent.com/42520146/68924027-cd162400-07a5-11ea-97ec-d47eb9ed21b2.PNG)

[2019-11-15 21:00] libremente opened #475 "Banner in homepage is cut"
Right now I see the homepage banner in the following way:

![Schermata 2019-11-15 alle 21 54 18](https://user-images.githubusercontent.com/25111463/68975156-c530a100-07f2-11ea-9721-e9dcb82d790d.png)

However, I'd like to see it like this, with a proper padding below:
![Schermata 2019-11-15 alle 21 57 16](https://user-images.githubusercontent.com/25111463/68975345-4d16ab00-07f3-11ea-9923-17625354d4

[2019-11-16 10:55] sebbalex commented on #475
Actual design is in line with mock, check the screen below I've taken from the original prototype:

![Screenshot 2019-11-16 at 11 47 00](https://user-images.githubusercontent.com/11008116/68992105-2abe7500-0867-11ea-8ad4-62ee88bb9307.png)

We still could change it if we think it makes sense.

[2019-11-16 11:01] libremente commented on #475
Yeah, I know, however I personally don't like it. I believe having a proper padding makes the message more immediate to see. Furthermore, such padding is removed just in `md`. What do you think?

[2019-11-18 15:42] #308 closed

[2019-11-27 16:39] #414 closed

[2019-11-28 13:02] libremente commented on #473
Let's modify the layer before jekyll (crawler).

[2019-12-06 15:55] libremente opened #481 "Logos must be rendered in the same way in every view"
As of now, logos are displayed differently in the `pa` page and the search one. This is suboptimal, we should have (and maintain) a single way of displaying the logos (or screenshots) for every software.

[2019-12-12 14:12] libremente opened #483 "Icons not shown"
The SVG icons are not shown anymore:
![Schermata 2019-12-12 alle 15 10 27](https://user-images.githubusercontent.com/25111463/70719151-bfdf4d00-1cf1-11ea-902b-c0d3bc093ced.png)

[2019-12-12 15:59] #483 closed

[2020-01-09 15:23] libremente opened #486 "Main logo not shown"
The main logo is not shown right now and this is due to a bug in BSI https://github.com/italia/bootstrap-italia/issues/419. The fix has been merged and it should be released in BSI 1.3.9.
This issue is just a reminder so that we know that we have upgrade as soon as the patch will be released. Thanks @francescozaia @sebbalex

[2020-01-09 15:57] francescozaia commented on #486
New year's present: https://github.com/italia/bootstrap-italia/releases/tag/v1.3.9 🤞

[2020-01-09 20:08] #486 closed

[2020-01-16 17:02] masihtak commented on #475
If you need the changes, I can work on it!

[2020-01-17 15:14] #473 closed

[2020-01-27 18:27] ritikasource opened #491 "Tagline/agenda of Developers Italia also getting selected if hovered over the logo."
Once we hover over the icon the tagline also gets selected along with the logo title and that could be unselected to improve the UI.

[2020-01-27 19:40] libremente commented on #491
Hi @ritikasource and thanks for your contribution!
I personally don't like this a lot as well, however I have to investigate the origin of such a behavior (it could be provided in the mockups). I'll get back to you!

[2020-01-28 13:28] ritikasource commented on #491
Hey @libremente glad that you considered also I would definitely like to help to fix this issue.

[2020-01-31 13:31] ashu8912 opened #493 "The Buttons on The Search Page are laggy and sometime unclickable"
if we go to the search page the buttons there are sometime laggy like i clicked multiple times and the buttons didn't had clicks on them.

[2020-01-31 13:44] libremente commented on #493
Hi @ashu8912 and thanks for your contribution! Could you please post an image of those buttons or give use some more insights regarding such a problem? Thank you

[2020-01-31 13:51] ashu8912 commented on #493
Hey @libremente click on the search button on the https://developers.italia.it/ page and try clicking on the buttons some buttons dont immediately accept the click which is a very wierd behaviour

[2020-01-31 13:54] ashu8912 commented on #463
working on this ,Hey @libremente can you tell what should be the number of elements to show before adding that show all button

[2020-01-31 13:55] ashu8912 commented on #481
Hey @libremente  can you share some screenshots of pages where logos differ

[2020-01-31 15:05] libremente commented on #493
@ashu8912, I see no event happening when the click is done on the icon whilst the click event is correctly triggered when the click is done over the text. Is this what you are referring to?

[2020-01-31 16:54] ashu8912 commented on #493
yes

[2020-01-31 17:05] libremente commented on #493
@ashu8912 Ok, what about the "laggy" part? I could not reproduce it.

[2020-02-01 16:15] ritikasource opened #495 "Orange border appears on clicking of any item from the topmost navbar"
If any item from the topmost navbar is selected then along with a white underline there's this orange border that appears along with it. This border is also dysfunctional when the site is reloaded or refreshed.

[2020-02-01 16:49] libremente commented on #495
Hi @ritikasource and thanks for your issue! This sound like a weird behaviour and I'd like to dig a bit deeper in it. Could you please provide some more information regarding your discovery in order to make it reproducible? Something like your specs (e.g., browser used) or also a picture representing the issue could be really useful here.
Thanks!

[2020-02-01 16:55] libremente commented on #481
Sure @ashu8912,
for example see the `SIGLA` case:
1° pic (in `/software` page)
![Schermata 2020-02-01 alle 17 53 24](https://user-images.githubusercontent.com/25111463/73595695-e2385e80-451b-11ea-8ee7-e4465be71106.png)

2° pic (a search result)
![Schermata 2020-02-01 alle 17 53 32](https://user-images.githubusercontent.com/25111463/73595700-ed8b8a00-451b-11ea-81d1-e2b5197f9ebe.png)

[2020-02-01 17:12] ritikasource commented on #495
Hey @libremente, I am using chrome as browser and as far as this issue is concerned as I said it's dysfunctional I am unable to retrace this effect on the navbar right now but this same issue can be seen at the 'menu' section.
Here's the screenshot for the same:
![image](https://user-images.githubusercontent.com/54948869/73595963-f728e800-4543-11ea-8987-9a40ea883f8a.png)

[2020-02-02 09:21] ridhishjain opened #496 "Update node package "chart.js'"
Need to update chart.js package

I'm doing it!

[2020-02-02 13:57] libremente opened #498 "Visual issues in API pages in mobile view"
The new API page has some visual flows as shown in the pictures below:
![Screenshot_20200202-140757_Brave](https://user-images.githubusercontent.com/25111463/73609206-ae1c7680-45cb-11ea-8f67-7fcddd85e957.jpg)
![Screenshot_20200202-140640_Brave](https://user-images.githubusercontent.com/25111463/73609207-ae1c7680-45cb-11ea-9dba-a74ee5583e6f.jpg)

[2020-02-02 15:02] ridhishjain commented on #498
I'll be working on this issue

[2020-02-03 09:17] libremente commented on #495
Thank you @ritikasource.
However, this repo is dedicated to the https://developers.italia.it website and not the SPID one. I don't know where that repo is, I can check it out.

[2020-02-03 11:10] libremente commented on #495
Actually @ritikasource I was able to reproduce such a behaviour after clicking rapidly many times on the links also in Developers Italia. I need to investigate further on this

[2020-02-03 11:12] libremente commented on #496
Fixed by https://github.com/italia/developers.italia.it/commit/fe0fbea8259f1c943f04a3bc749140c124c48315, closing. Thanks @ridhishjain!! 🎉

[2020-02-03 11:12] #496 closed

[2020-02-03 13:20] ridhishjain commented on #471
@libremente, I think we need to have separate instructions for setting up the working environment in windows and Linux.
[code]
in this, `npm install` and `bundle install` works properly but `make include-npm-deps` throws this error in windows

[code]

[2020-02-03 13:26] libremente commented on #471
@ridhishjain I personally did not test the Makefile in a windows environment and I don't have a way to do it. If you want we can try to work together to solve the issue and then we could embed the windows related instructions inside the README file, what do you think?

In this particular case, did you try to use backslashes?
Something like:
`mkdir -p assets\vendor\`

[2020-02-03 14:53] ritikasource commented on #495
@libremente, Initially I found this issue in the Developers Italia navbar later on when I traversed in the attached links, those too showed the same issue.

[2020-02-03 15:29] ridhishjain commented on #471
Instead of this, I tried running the same command `make include-npm-deps` on Linux shell Cygwin64 Terminal. It did work!
Then on doing `bundle exec jekyll serve` the machine threw errors regarding eventmachine versions and stuff:

`Unable to load the EventMachine C extension; To use the pure-ruby reactor, require 'em/pure_ruby'`
So I added a few configs to solve the problem to Gemfile.lock, nothin

[2020-02-03 15:29] ridhishjain commented on #471
Creating an issue and PR for that

[2020-02-03 15:32] ridhishjain opened #499 "Windows configurations does not exist in Gemfile"
For setting up the development environment in windows, the configs currently present in Gemfile.lock are not sufficient
especially for `eventmachine`
Additions for windows required
I am working on this!

[2020-02-03 15:58] ridhishjain commented on #498
@libremente, as I am new to the code, can you please tell me how to reproduce the behavior? 😅

[2020-02-03 16:56] libremente commented on #495
Ok, it looks like the behaviour is correct on Chrome (orange boxes allow to navigate the page by hitting tab and using just the keyboard) whilst on Firefox we have a strange behaviour. We need to dig further on this. Do you have a suggestion?

[2020-02-03 17:01] libremente commented on #499
Hi @ridhishjain and thanks for your issue.
Usually I like to be quite conservative when dealing with dependencies, especially when new ones have to be added just to tackle corner cases.
I need to investigate a little bit more on this particular one before actually merging your PR.
Could you please provide some links to the resources you used to add this dependency?
We will let you know, thanks for

[2020-02-03 17:14] ritikasource commented on #495
Actually,@libremente I am myself digging at the issue as soon as I get a hold of it I'll get back at you.

[2020-02-03 18:48] bfabio commented on #498
@ridhishjain you can reproduce it heading to https://developers.italia.it/it/api/geodati with a mobile device or a small viewport.

[2020-02-04 07:49] ridhishjain commented on #498
@bfabio in my localhost:4000, every time I visit `/it/api/...` It throws error:
[code]
Not only in `/geodati`, but also in `/muoversi-in-lombardia`, `/daf-ckan` and all others

[2020-02-04 08:36] libremente commented on #498
@ridhishjain that's because you need to build also the swagger part, see the Makefile here:
https://github.com/italia/developers.italia.it/blob/ad36177be82405300a615ba0aa5b3589a67446b9/Makefile#L14-L15

My bad, I need to update the README with this info, I will do it in a second

[2020-02-04 11:31] ridhishjain commented on #499
As the `eventmachine` was throwing error:
`Unable to load the EventMachine C extension; To use the pure-ruby reactor, require 'em/pure_ruby'`
`eventmachine` is provided as x64-mingw platform gem but somehow do not supports ruby2.4 or 2.5 right..
https://github.com/eventmachine/eventmachine/issues/820
This issue I found on eventmachine dealt with the same problem. A simple solution was to uninstall

[2020-02-04 12:16] libremente opened #501 "Open external links in new tab/window"
The external link should be opened in a new tab/window

[2020-02-04 17:15] libremente opened #502 "Translate GSoC page in Italian"
GSoC page has to be translated into Italian.

[2020-02-06 06:16] ridhishjain commented on #498
@libremente , running is still giving errors:
[code]

[2020-02-10 10:46] libremente commented on #461
This is still not fixed on the homepage, see screenshot:
![Schermata 2020-02-10 alle 11 46 05](https://user-images.githubusercontent.com/25111463/74143352-f30f6100-4bfa-11ea-9dc5-7710cf9d8a65.png)

[2020-02-10 14:29] ridhishjain commented on #499
@libremente, u looking for this?

[2020-02-11 09:52] libremente commented on #389
Fixed by #462. Closing.

[2020-02-11 09:52] #389 closed

[2020-02-11 10:12] libremente commented on #491
Hi @ritikasource , feel free to work on this issue

[2020-02-11 10:14] libremente commented on #475
I'm closing this since it's not a real issue.

[2020-02-11 10:14] #475 closed

[2020-02-11 16:16] libremente opened #506 "No results found header shown also where results are found"
![Schermata 2020-02-11 alle 17 09 24](https://user-images.githubusercontent.com/25111463/74255161-c25e2300-4cf1-11ea-9dca-900fcdd9612d.png)

Steps to reproduce:
1. search for a term that has some results;
2. The results page shows the results expected;
3. in the results page, select one or more filters on the left that produce a combination with no real results: an error header is inserted;
4. now

[2020-02-12 13:51] #370 closed

[2020-02-12 15:19] libremente opened #507 "Add GSoC ideas list link to menubar"
To ease the navigation process it's important to insert the link to the GSoC ideas list in the menu bar.

[2020-02-13 14:27] libremente opened #508 "Check fonts in different layout"
Different page layouts have different fonts applied (Lora / titillium). This is probably due to some legacy code embedded in layouts.

I suggest to switch completely to Titillium.

[2020-02-13 14:41] #461 closed

[2020-02-14 15:47] #502 closed

[2020-02-14 15:48] libremente commented on #507
Closed via #510.

[2020-02-14 15:48] #507 closed

[2020-02-14 16:42] #498 closed

[2020-02-17 09:48] sebbalex commented on #506
Sort by filter and results number are disappeared from view, this is mostly due to previous bugfix.

[2020-02-17 13:03] #506 closed

[2020-02-17 14:15] #446 closed

[2020-02-18 10:39] libremente commented on #463
Hi @ashu8912, in the case of supported languages the maximum number to show should be 10.
In the case of the "reuse" key (e.g., https://developers.italia.it/it/software/p_tn-provinciaautonomatrento-pitre) it should be 10 as well.

[2020-02-18 17:55] sebbalex commented on #256
APIs pages were set by default to lang `it` even if they were published under another language folder, this caused duplicated entries in search engine when website is set to ITA lang and no results with ENG lang.
Search engine will filter results based on language set in website so they should be visibile in both languages even if they are published in only one of them.

[2020-02-19 08:23] #256 closed

[2020-02-19 15:11] sebbalex commented on #261
@alranel I can confirm your doubts, they are indexed twice, both for `documents` and `pages`

[code]

[2020-02-19 17:26] sebbalex commented on #444
Issue were already fixed some time ago, I've updated the `slug` back to original name and rebased the branch in PR https://github.com/italia/developers.italia.it/pull/443
@ioggstream does it look good?

[2020-02-19 22:48] ioggstream commented on #444
@sebbalex see https://github.com/italia/developers.italia.it/pull/443/commits/a02ed3a6be1104a5a539e02b5940c953c98c006c#r381457029

[2020-03-09 18:36] #346 closed

[2020-03-09 18:48] sebbalex commented on #346
Thanks @masihtak for the work you have made so far.

[2020-03-10 17:08] masihtak commented on #501
I can work on this one

[2020-03-19 14:18] sebbalex commented on #444
@ioggstream could we close this?

[2020-03-19 14:34] sebbalex opened #521 "Enable Elasticsearch authentication"
As for now ElasticSearch is auto authenticated and allowed to push new content using special ACL policies based on local Elastic Search Guard custom rules.
Since our platform is migrating towards a new infrastructure we will have a brand new ElasticSearch on official channel with security enabled. We must be able to establish a secure channel by using mutual authentication/token or auth.

[2020-03-19 17:52] LucaPrete opened #522 "Refactor CircleCI config file and move deployment to gh-pages"

[2020-03-19 22:50] sebbalex commented on #521
PR on searchyll plugin
https://github.com/italia/developers-italia-searchyll/pull/2

[2020-03-20 09:55] ioggstream commented on #444
I re-ran the workflow, let's see what happens.

[2020-03-20 13:43] sebbalex commented on #444
I've rebased the PR and now CI is going good!

[2020-03-20 13:51] #444 closed

[2020-03-24 09:08] #521 closed

[2020-03-25 09:22] #522 closed

[2020-03-25 09:23] LucaPrete opened #526 "Avoid docs folder recursion during gh-pages jekyll build (fix in _config)"

[2020-03-25 09:26] #526 closed

[2020-03-25 09:51] LucaPrete opened #527 "Refactor developers.italia.it readme"

[2020-03-25 09:52] LucaPrete opened #528 "Use crawler.developers.italia.it/XXX in Makefile to fetch crawler data"

[2020-03-27 16:05] sebbalex opened #532 "Get rid of deprecation warning by bundler at build time"
At build time bundler shows those warning message:

[2020-03-31 08:25] #528 closed

[2020-03-31 08:27] LucaPrete opened #534 "Refactor Dockerfile and docker-compose.yaml"

[2020-03-31 09:16] LucaPrete opened #536 "Remove unused build and deploy vm from circleci file"

[2020-03-31 10:01] #536 closed

[2020-04-01 14:54] #534 closed

[2020-04-01 16:44] #527 closed

[2020-04-07 07:33] Neilblaze commented on #508
Assign me this task

[2020-04-30 09:10] LucaPrete opened #544 "Configure circleci to notify failures on master to slack"

[2020-05-03 13:01] libremente opened #546 "Add GSoD ideas page for 2020 edition"
We need a GSoD project ideas page live.

[2020-05-03 13:20] libremente opened #548 "Add ISSUE and PR templates"
Issue and PR templates help triaging and understanding the real proposal.

[2020-05-04 15:39] #546 closed

[2020-05-05 12:09] ioggstream opened #549 "Fix icon height in api/ page"
## I expect

Icon height to be fixed to 40px.

## Instead

It uses w-100

## Note

This may alter the logo ratio.

[2020-05-05 21:52] #549 closed

[2020-05-14 17:57] libremente opened #553 "Privacy policy page issues"
The privacy policy page should have a title. Also, there are a set of typos throughout the page.

[2020-05-14 18:05] libremente opened #554 "Internal long layout should have a title"
IMHO the `internal-long` layout https://github.com/italia/developers.italia.it/blob/master/_layouts/internal-long.html should have a title explicited if not it's really hard to understand the context of the page just by reading its content.
I believe we should keep it for legacy reason but we should extend it with a version with the embedded title printed.

[2020-05-15 07:28] libremente opened #557 "Add FAQ section"
An FAQ section regarding the catalog should be added.
However, it is challenging to understand where such a section should be. Should we create a menu entry? If so, which menu?

[2020-05-15 07:35] libremente commented on #268
We will insert the documentation in the FAQ section.

[2020-05-15 07:39] #553 closed

[2020-05-15 08:37] libremente commented on #471
Hi @ridhishjain, now leveraging the Docker environment it should be possible to seamlessly take advantage of the system on every docker-compatible system.
As such, I'm closing this issue for the moment, let me know if you still encounter any issues with it. Thanks! :+1:

[2020-05-15 08:37] #471 closed

[2020-05-15 10:29] libremente opened #559 "Footer section links should reflect the current active language"
Right now the footer links are always reflecting the `it` language. This does not follow the active language of the overall website.

[2020-05-17 15:13] libremente commented on #559
Fixed by #560. Closing.

[2020-05-17 15:13] #559 closed

[2020-05-17 15:18] #343 closed

[2020-05-17 15:33] #508 closed

[2020-05-17 15:33] #554 closed

[2020-05-17 16:02] libremente opened #563 "Sprites not showing up"
Some sprites used in /riuso pages are not showing up.
This is probably due to the fact that they are still using a legacy import:
[code]

Probably changing path may solve.

[2020-05-17 16:38] libremente opened #565 "Create CONTRIBUTING file"
A `CONTRIBUTING` file should be present to help contributions.

[2020-05-17 16:45] libremente opened #567 "Add Code of Conduct"
There should be a proper Code of Conduct attached to this repo.
Please consider using this one: https://github.com/teamdigitale/licenses/blob/master/CODE_OF_CONDUCT.md

[2020-05-17 16:53] libremente opened #569 "Add contributors list in README file"
We should have a clear list of contributors in the README file.
I think this one could be nice: https://github.com/all-contributors/all-contributors/blob/master/README.md

Any thoughts @sebbalex?

[2020-05-17 16:54] libremente commented on #569
https://allcontributors.org/

[2020-05-17 17:05] libremente commented on #493
Hi @ashu8912, are you still able to reproduce this issue? Thanks

[2020-05-17 17:07] libremente commented on #349
Fix by #453. Closing.

[2020-05-17 17:07] #349 closed

[2020-05-17 17:10] libremente commented on #365
This is strictly linked and dependent on https://github.com/italia/publiccode-editor/pull/125/files

@sebbalex could you please update on this? This is a super cool feature :rocket:

[2020-05-17 17:14] libremente commented on #368
I think #562 is tackling exactly this. This is a preview:
![Schermata da 2020-05-17 19-14-00](https://user-images.githubusercontent.com/25111463/82155066-99aa7400-9872-11ea-81bb-ad3dced2380a.png)

[2020-05-17 17:16] libremente opened #571 "Remove Hacktoberfest from to-do page"
Since the program is not active anymore I think it would be nice to remove its reference from the https://developers.italia.it/it/cosa-fare/ page.
At least we could hide the entry from the menu on the right so that if we'll use it in the future it will be easy to switch it back again.

[2020-05-17 18:03] libremente commented on #369
I don't get the second point, in the software page (https://developers.italia.it/it/software/) there is no way to display the results randomly. I think I'll just leave it in the following way:
- Search results: it should be ordered by relevance and descending vitality
- Software page: follow the pre-defined orders: most recent, most active, virtuous PAs.
- Home page: it should be ordered randomly

[2020-05-18 09:29] libremente opened #573 "Add extended info in README file"
I believe that our README file should present more information involving contributors to participate and explaining the different possibilities that the platform presents.

[2020-05-18 17:49] sebbalex commented on #569
I like the idea but I would love to have something more "in line" with our style, sort of our [Contact page](https://developers.italia.it/it/contatti/).
What do you think?

[2020-05-19 15:27] #567 closed

[2020-05-19 20:07] #563 closed

[2020-05-20 10:58] zaza81 commented on #532
I can get this issue.
The **first warning** should be an easy fix by defining the path in the configuration instead of as a parameter in the install command.

The **second warning** can be eliminated by setting gem tzinfo-data for all systems instead for only the win systems

[2020-05-20 11:03] libremente commented on #532
Hi @zaza81 and thanks for your interest!
Yes, I think you are right, the first one is straightforward whilst the second one needs a bit of testing to ensure that such a change is non-destructive. Did you manage to setup the docker environment flawlessly?
We'll be happy to review your PR :rocket:

[2020-05-20 13:26] zaza81 commented on #532
@libremente the Docker container runs fine 👍
I've just made a PR, thanks!

[2020-05-21 14:18] vlauciani opened #576 "Reuse software - Logo not correctly formatted"
Hi all

The logo shown in the Developers Italia Software page (https://developers.italia.it/it/software/), is not correctly formatted; the text is cutted.

Please, check the attached image.

Thank you.

![Screenshot 2020-05-21 at 16 15 28](https://user-images.githubusercontent.com/16477095/82568066-8d7a2b80-9b7e-11ea-9a07-1acfc74aeb98.png)

[2020-05-21 14:24] sebbalex commented on #576
Hi @vlauciani we were already aware of this issue and as of now @libremente is working on a fix that will unify all views and fix render problems with logos.
See here: https://github.com/italia/developers.italia.it/pull/561

[2020-05-21 16:36] libremente commented on #532
This can be close, thanks again @zaza81.

[2020-05-21 16:36] #532 closed

[2020-05-21 19:09] libremente commented on #565
Fixed by #577 , closing.

[2020-05-21 19:09] #565 closed

[2020-05-21 19:10] libremente commented on #569
Ok, let's create a link to that page from the README file. Closing, thanks!

[2020-05-21 19:10] #569 closed

[2020-05-21 19:11] libremente commented on #573
README file should also contain a reference to the contacts page, see #569

[2020-05-21 19:14] libremente commented on #544
Linked to https://github.com/italia/developers.italia.it/pull/545, can we close this @LucaPrete? Thanks

[2020-05-21 19:15] libremente commented on #410
1. This is not the correct repo for this issue
2. Is this still needed?
@sebbalex

[2020-05-21 21:35] #548 closed

[2020-05-22 06:09] #544 closed

[2020-05-22 13:38] sebbalex commented on #410
Actually crawler already does this check and lately it is also enforced for `one` command. Closing.

[2020-05-22 13:38] #410 closed

[2020-05-22 17:14] libremente commented on #501
Hi @masihtak, thanks for you interest! Are you still interested in working on this feature?  :+1:

[2020-05-22 17:15] libremente commented on #495
Newer versions of Firefox work as expected, showing orange boxes that allow to navigate using the tab. I am closing this issue for this reason, please let me know if it is still showing up. Thank you!

[2020-05-22 17:15] #495 closed

[2020-05-22 17:17] libremente commented on #493
Hi @ashu8912, I am closing this for inactivity and for lack of documentation. Please open it again if you are still experiencing this issue. Thanks :+1:

[2020-05-22 17:17] #493 closed

[2020-05-22 17:18] libremente commented on #474
Hi @sakshi1499 and thanks for your contribution.
Actually [Docs Italia](https://docs.italia.it) is not the target of this repo so for this reason I am closing this issue. Please let me know if you need help in creating an issue on the Docs Italia repository. Thanks! :+1:

[2020-05-22 17:18] #474 closed

[2020-05-22 17:19] libremente commented on #449
Since we are not using such a service anymore I guess this issue is not relevant. I am closing this for now. cc @sebbalex

[2020-05-22 17:19] #449 closed

[2020-05-22 17:26] libremente opened #579 "Bump Bootstrap Italia to 1.3.10"
**Is your feature request related to a problem? Please describe.**

We are using Bootstrap Italia 1.3.9

**Describe the solution you'd like**

Bump version to 1.3.10

[2020-05-22 20:30] masihtak commented on #501
Hi @libremente sure!

[2020-05-23 08:43] libremente commented on #501
That's great @masihtak, please let us know if you need support! :smiley:

[2020-05-24 12:20] #579 closed

[2020-05-24 12:45] libremente opened #581 "Alignment issue of third party oss block"
**Describe the bug**

There is an alignment issue with a block displayed in the /software page.
**To Reproduce**

Navigate the /software page.

**Expected behavior**

It should be centered.

**Screenshots**

![Schermata da 2020-05-24 14-43-49](https://user-images.githubusercontent.com/25111463/82754434-23a39100-9dcd-11ea-9f76-d334af81a97b.png)

[2020-05-25 14:05] LucaPrete opened #582 "Fix CircleCI notifications on failure, only on master"
# Issue content

[2020-05-25 14:48] sebbalex opened #584 "Create new dashboard page"
**Is your feature request related to a problem? Please describe.**

Project has a detailed dashboard page with all relevant metrics, would be nice have it as a page here in Developers Italia.

**Describe the solution you'd like**

A very simple page which includes all metrics.

**Describe alternatives you've considered**

None.

**Additional context**

[2020-05-25 15:37] #584 closed

[2020-05-31 16:24] ioggstream opened #586 "Link ad api-oas-checker in API page"
## I expect

To link/present api projects in developers.italia.it/it/api

- [ ] https://teamdigitale.github.io/api-oas-checker/ online validator in API page
- [ ] https://github.com/teamdigitale/api-starter-kit
- [ ] https://teamdigitale.github.io/openapi/

## Instead

There's none

## Notes

Editorial Ideas welcome

[2020-06-04 22:01] sebbalex commented on #586
cc @libremente

[2020-06-05 10:20] #582 closed

[2020-06-09 14:46] LucaPrete opened #587 "Fix circle ci slack notifications when docs folder does not change"

[2020-06-09 15:04] #587 closed

[2020-06-09 15:07] sebbalex opened #588 "Consider to switch branch for Github Pages"
**Is your feature request related to a problem? Please describe.**
As of now this will push a commit into default branch master whenever a commit occurs on same branch.
This is causing a dirty git history and sometimes is hard to find an old commit.

**Describe the solution you'd like**
I suggest to move the github pages default branch to a dedicated one.

**Describe alternatives you've considered

[2020-06-09 15:11] sebbalex commented on #365
@libremente feature is now live! I keep this open since this point is not done yet:

https://publiccode-editor.developers.italia.it?path=https://github.com/<org>/<repo>/publiccode.yml&action=validate

but I would track this with a dedicated issue.

[2020-06-15 12:46] sebbalex opened #589 "Validation status badge in software page"
**Is your feature request related to a problem? Please describe.**
As discussed in #365, see the excerpt below:

As discussed with @alranel @biancini, it might be way faster to insert a link in the footer of the sw page pointing to a URL built something like:
https://publiccode-editor.developers.italia.it?path=https://github.com/<org>/<repo>/publiccode.yml&action=validate
so that the responsible o

[2020-06-15 12:46] #365 closed

[2020-06-16 13:13] LucaPrete opened #591 "_site folder still present in gh-pages branch; circleci file not present in branch"

[2020-06-16 13:14] #591 closed

[2020-06-16 13:14] #588 closed

[2020-06-16 13:52] sebbalex opened #592 ".well-known/security.txt results in 404"
**Describe the bug**
After #147 we have a `.well-known` dir which serves `security.txt` files.
Switching to GH pages this file is not served anymore and GET https://developers.italia.it/.well-known/security.txt
resulting in 404.

**To Reproduce**
`curl https://developers.italia.it/.well-known/security.txt`

**Expected behavior**
File security served.

[2020-06-19 08:37] libremente opened #594 "Refactor todo page"
**Is your feature request related to a problem? Please describe.**

The `to-do` page should be refactored. Some of the repos should be unlisted, see also #571 for removing some filters.

**Describe the solution you'd like**

I'd like an easily browsable interface.

[2020-06-19 08:38] libremente commented on #592
I believe this is fixed, please @LucaPrete confirm thx.

[2020-06-19 09:17] LucaPrete commented on #592
Sì, il file è ora visibile. Chiudo.

[2020-06-19 09:17] #592 closed

[2020-06-19 16:16] libremente commented on #594
We should also consider creating a way to warn people of the fact that:
* some repos are `unmaintained` right now
* some repos use `deprecated` stacks or `non-supported` ones

I'm leaving this here for reference: https://www.gnu.org/server/takeaction.html#unmaint

[2020-06-19 16:26] alexghirelli commented on #571
Ciao @libremente, se me la assegni posso farla io velocemente questa

[2020-06-19 16:29] libremente commented on #571
Perfetto @alexghirelli! Facci sapere se ti serve una mano :+1:

[2020-06-19 16:48] alexghirelli commented on #571
Ciao @libremente se non è un problema, potresti scrivermi su Slack? Mi fallisce la build del container

[2020-06-22 08:45] LucaPrete opened #596 "Docker for dev does not work under Linux"

[2020-06-25 08:28] alexghirelli opened #599 "Token di autenticazione API Github"
Avrei la necessità di avere il token di autenticazione alle API di Github in modo da poter completare la issue #571

[2020-06-29 16:52] libremente commented on #596
@LucaPrete I'd like to try this patch, please wait before closing the issue. Thanks!

[2020-07-01 17:09] #557 closed

[2020-07-02 07:48] libremente opened #600 "Translate FAQ in English"
**Is your feature request related to a problem? Please describe.**

FAQs should be translated in English.

**Describe the solution you'd like**

I'd like to have the /en/FAQ section populated with the same content of /it/faq

[2020-07-03 14:57] libremente opened #601 "Related softwares displayed do not rotate"
**Describe the bug**

The related softwares section always shows the same software.

**To Reproduce**

Visit a software page like this one https://developers.italia.it/it/software/unical-universitadellacalabria-uniticket

**Expected behavior**

See related software sections change with different softwares.

[2020-07-03 15:00] libremente commented on #601
May be related to this function:
https://github.com/italia/developers-italia-backend/blob/788d41888e95196a426e8a73ebd684527dfdcdfc/crawler/jekyll/softwares.go#L176-L200

[2020-07-06 11:08] sebbalex opened #602 "XSS on search box"
**Describe the bug**
a XSS vuln has been raised. Text in search box is not sanitised and it is executed by the client.

**To Reproduce**
[here](https://developers.italia.it/it/search/?keyword=%3Cscript%3Ealert(%22hello%22)%3C/script%3E&page=0&sort=relevance) or typing `<script>alert("hello")</script>` in search box.

**Expected behavior**
code should be searched as text and not executed.

[2020-07-06 13:21] #602 closed

[2020-07-30 13:11] zaza81 opened #608 "ANPR Dashboard API wrong Access-Control-Allow-Origin."
**Describe the bug**
when trying to use GET /comune/{codice_istat} in swagger frontend, I get the following message:

TypeError: Origin https://developers.italia.it is not allowed by Access-Control-Allow-Origin.

--

**To Reproduce**
1. Go to https://developers.italia.it/it/api/anpr-dashboard
2. Click on /comune/{codice_istat}
3. Click on Try it out
4. Click on Execute
5. Scroll down to Server Res

[2020-07-30 13:41] libremente commented on #608
Thanks @zaza81 for this issue!
We're working on it and we'll let you know as soon as we'll have updates.

[2020-07-31 13:47] sebbalex commented on #608
Hello @zaza81

CORS parameter for these calls have been tuned and now the toolbox is fully functional.

![Screenshot 2020-07-31 at 15 45 59](https://user-images.githubusercontent.com/11008116/89041051-ffbc7880-d344-11ea-8649-bb116df3a51e.png)

Thanks!

[2020-07-31 13:47] #608 closed

[2020-07-31 14:13] zaza81 commented on #608
Thanks for fixing @sebbalex, it works like a charm!

[2020-08-10 10:26] libremente commented on #287
Substitute the "category" list (not the first one below the title but the second one after the features description).

[2020-08-10 10:29] libremente commented on #581
Cannot reproduce anymore.
Let's try to anchor the button to the lower border.

[2020-08-10 10:30] libremente commented on #571
Ciao @alexghirelli, hai avuto modo di provare il token? Grazie!

[2020-08-10 12:16] bfabio opened #610 "Clicking on the software thumbnails always brings up the first image"
**Describe the bug**

Despite what thumbnail you click on, the first image is always maximized

**To Reproduce**

**Expected behavior**
The clicked image should be maximized instead

**Screenshots**

![Peek 10-08-2020 14-14](https://user-images.githubusercontent.com/788293/89781560-e15c3700-db13-11ea-85ad-97195b594642.gif)

[2020-08-11 10:13] #581 closed

[2020-08-11 12:09] #576 closed

[2020-08-11 12:10] sebbalex commented on #481
Closed by #561

[2020-08-11 12:10] #481 closed

[2020-08-11 14:03] #463 closed

[2020-08-11 14:34] bfabio opened #613 "Display supported languages of software in a user friendly way"
Language should be listed as the user would expect, instead of ISO codes or weird technical names ("Greek, Modern (1453-)" should be just "Greek")

Additionally, they should be translated to whatever language the user is navigating the site in.

As reference, the current supported languages for https://developers.italia.it/it/software/globaleaks-globaleaks-f22648
![Schermata da 2020-08-11 16-28-28

[2020-08-11 14:43] libremente commented on #613
This is sort of related to https://github.com/italia/developers-italia-backend/issues/162. Let's dig deeper into it and see if we can find a proper way to solve it

[2020-08-11 15:00] libremente commented on #596
@LucaPrete Still the same buggy behaviour on my machine

[2020-08-11 15:49] libremente commented on #596
cc @sebbalex @bfabio

[2020-08-12 06:53] bfabio opened #616 "Search should explicitly state it when it doesn't find results"
When you search for something that doesn't yield any result, the site doesn't make it explicit and there's a visual glitch with the blue button.

We should at least print something along the lines of "No results found" . It would be nice to display an empty state image as well.

![Peek 12-08-2020 08-45](https://user-images.githubusercontent.com/788293/89983890-c1925380-dc78-11ea-8942-8809e9830cb6.

[2020-08-12 07:41] bfabio opened #617 "Track all the Javascript dependencies with package.json"
Javascript (and maybe fonts and css) dependencies in `assets/scripts` should be declared in `packages.json` and installed from there so they're all in one place with an explicit version. That would help with upgrading in the future as well.

Right now they are included in the repo as minified files.

[2020-08-12 08:21] libremente commented on #617
Definitely needed! :+1:

[2020-08-12 08:43] bfabio opened #619 "assets shouldn't be a volume in Docker"
`assets` is mounted as a volume in https://github.com/italia/developers.italia.it/blob/master/docker-compose.yml#L21, but it should not because it contains stuff that the developer might want to modify (images or local scripts).

[2020-08-12 10:30] sebbalex commented on #619
@bfabio I'd probably remove also `_data`, for same reason. FAQ, translations, links are stuff that the developer might want to modify as well.
I would keep just statics assets as volume mount, and maybe `_data/crawler` which is used to download fresh crawled data and keep clean the repository staging area. What do you think?

[2020-08-12 10:38] bfabio commented on #619
@sebbalex Agreed! I was considering it when I wrote the issue, but I ruled it out because I mistakenly thought it contained only downloaded data.

+1 on `_data/crawler` as a volume.

[2020-08-12 10:46] #619 closed

[2020-08-12 14:15] libremente opened #623 "Switch to Jekyll 4.x"
We should switch to Jekyll 4.x

[2020-08-12 15:23] #596 closed

[2020-08-13 07:40] bfabio opened #625 "Have an environment variable for the frontend elastic host"
The elastic host configuration used by the frontend is now in `assets/scripts/esQuery.config.js`. It would be nice to have it as an environment variable settable in `.env`.

[2020-08-13 10:09] sebbalex commented on #625
I agree, we should inject it at build time

[2020-08-13 14:37] libremente opened #631 "Translate scope and categories to Italian"
I believe that some publiccode.yml keys when presented on the Developers Italia catalog using the `/it` language should be translated in Italian.
Categories and scope are clear examples.

[2020-08-14 08:25] libremente opened #634 "Search results page shows empty Hai cercato"""
**Describe the bug**

The search results page does not show the string used for running the query.

**To Reproduce**
1. Use the search bar
2. Enter a string
3. Results page shows `Hai cercato""`

**Expected behavior**

The keyword string should be present or that results' page string should be changed.

**Screenshots**

![Schermata da 2020-08-14 10-20-14](https://user-images.githubusercontent.com/

[2020-08-14 10:38] #287 closed

[2020-08-14 15:07] libremente opened #635 "Change way GithubImporter is launched"
[GithubImporter](https://github.com/italia/developers.italia.it/blob/master/_plugins/GithubImporter.rb) is a plugin needed for our Jekyll installation. However, it should be moved to a dedicated repo and its existence should be declared in the Gemfile as a dependency/plugin as done with Searchyll.
Please note that there are some hardcoded values in the current version of the plugin that should be

[2020-08-14 15:08] sebbalex opened #636 "Manage Intended audience scopes in search"
As of now in software detail you can click on a scope and you will be redirect to search page filtering by selected tag. Search page should have audience scopes filter as well as categories.

[2020-08-14 15:13] sebbalex opened #638 "Remove limit of 3 for audience scopes in software detail page"

[2020-08-14 15:42] #636 closed

[2020-08-17 15:24] bfabio opened #641 "Do we really want the first screenshot to be the preferred thumbnail?"
The current order of preference for software thumbnails is:

1. First screenshot
2. Logo
3. Placeholder

Do we really want the first screenshot to be the preferred one? Screenshots are usually indiscernible at small sizes and not very appealing in general.

Popular stores use the logo:

* https://flathub.org/home
* https://play.google.com/store/apps
* https://snapcraft.io/store

[2020-08-18 16:00] #261 closed

[2020-08-19 08:49] bfabio commented on #431
Hey @Lawrence4code :wave:, have you had the chance to look at this?

[2020-08-19 09:14] sebbalex commented on #638
This is now set to 10 but we should use the "Show more" logic here.

[2020-08-19 09:40] #613 closed

[2020-08-19 15:33] Lawrence4code commented on #431
Sorry, wasn't aware that its been assigned to me. Thanks for reminder, I'll start working on it.

[2020-09-02 13:12] bfabio opened #646 "[meta] Refactor the handling of Javascript code"
Refactor the handling of Javascript code to help future maintainability and to simplify the build process.

- [x] Track all the Javascript dependencies with package.json (#617)
- [x] Use Webpack
- [ ] Move `swagger/` and friends into the main package.json

[2020-09-02 13:13] bfabio commented on #634
Depends on #646.

[2020-09-02 13:13] bfabio commented on #625
Depends on #646.

[2020-09-02 14:09] libremente commented on #571
Siccome siamo ormai arrivati alla nuova versione di Hacktoberfest direi che questa issue si può chiudere perchè il tag serve di nuovo e la riapriremo quando sarà finito l'evento. Grazie!

[2020-09-02 14:09] #571 closed

[2020-09-03 10:43] #573 closed

[2020-09-03 15:38] libremente commented on #450
As discussed with @bfabio, it could be nice to display the vitality index next to the name or the description of each sw in the search results page. As such, it is clear for the user which software is more alive even without accessing its page.

[2020-09-03 15:45] libremente commented on #641
For reference: https://github.com/italia/developers.italia.it/blob/8c01df6590ec99cf64bf2b6af1e6218b14d5c594/_includes/display-logo.html#L23

[2020-09-03 15:48] libremente commented on #369
As discussed with @bfabio we are now leaving the default search results to relevance. We will fix the vitality in the next version of the search engine.

[2020-09-03 16:20] #419 closed

[2020-09-04 14:18] #369 closed

[2020-09-04 16:06] #268 closed

[2020-09-05 18:23] bfabio commented on #499
This should actually be an eventmachine bug and it's fixed by eventmachine/eventmachine#833.

Feel free to reopen this if it's not the case!

[2020-09-05 18:23] #499 closed

[2020-09-07 10:23] libremente commented on #635
We should not declare it as a plugin.
Let's launch it as a script in the makefile.
@bfabio

[2020-09-07 10:29] libremente commented on #599
Chiuderei per ora, fammi sapere se ti serve ulteriore supporto. Grazie @alexghirelli!

[2020-09-07 10:29] #599 closed

[2020-09-07 17:30] bfabio opened #650 "Alphabetical ordering in the search engine doesn't work"
**Describe the bug**
When you try to alphabetically order the search results the site shows no results at all:

![Peek 07-09-2020 19-27](https://user-images.githubusercontent.com/788293/92409337-8c2a3a00-f140-11ea-9796-95a984fd61cd.gif)

[2020-09-08 07:46] #601 closed

[2020-09-08 08:14] bfabio opened #651 "Put governo.svg in the repo as it's going to change soon"
We should change this URL

_Originally posted by @libremente in https://github.com/italia/developers.italia.it/pull/647#discussion_r484728866_

[2020-09-08 10:16] sebbalex commented on #397
Here we have two situations:
1. recommendation system is not working https://github.com/italia/developers.italia.it/issues/601
2. which parameter are used to filter softwares

First case is fixed with https://github.com/italia/developers-italia-backend/pull/177
Second: as of now softwares are filtered using categories and sorted by score descending. This process is inside the crawler and starts at

[2020-09-08 15:52] #617 closed

[2020-09-08 15:52] #634 closed

[2020-09-09 06:16] bfabio opened #656 "Investigate the handling of development in Swagger"
I'm not convinced this block is necessary:
https://github.com/italia/developers.italia.it/blob/3c6506aa50b64a811138a07c8302a1e892b0252d/swagger/index.js#L9

[2020-09-09 08:05] libremente opened #659 "Manifest.json has invalid JSON"
**Describe the bug**
Right now the [manifest.json](https://github.com/italia/developers.italia.it/blob/268fb12c00ac027699d85d957e3ba71cb83746ff/assets/icons/manifest.json) has an invalid format in this lines:
https://github.com/italia/developers.italia.it/blob/268fb12c00ac027699d85d957e3ba71cb83746ff/assets/icons/manifest.json#L1-L3

Please check via https://jsonlint.com/

[2020-09-09 10:58] bfabio opened #660 "Fix icons in the footer"
Icons in the footer are not displayed properly.

[2020-09-09 12:57] libremente opened #662 "Add "teamdigitale" issues in the to-do page"
**Is your feature request related to a problem? Please describe.**

The [to-do](https://developers.italia.it/en/to-do) page should list also the repos belonging to the `teamdigitale` org.
In such a way we can easily index the issues belonging to those repos.

[2020-09-09 12:58] libremente opened #663 "Review the prefix of the repos listed in the todo page"
As of now, these are the prefixes of the repo names checked for the [todo](https://developers.italia.it/it/cosa-fare/) page: https://github.com/italia/developers.italia.it/blob/86b0060381c8bcac5f9b01166217239930226ef2/_config.yml#L34

Seeing #662 I believe we should review such a list and make it consistent with the help needed.
For example, we should remove the `daf-` ones.

[2020-09-09 13:04] libremente commented on #663
@ioggstream I believe this is of interest also for you

[2020-09-09 13:07] #646 closed

[2020-09-09 13:28] libremente opened #664 "Search bar: "Misc" category is not clear"
**Describe the bug**

When searching for anything using the search bar, the `misc` category appears but it is not clear for the user what's its meaning.
This is especially true when the exact same result is shown below, like in the example here:
![Schermata da 2020-09-09 15-25-31](https://user-images.githubusercontent.com/25111463/92604477-db8f7800-f2b0-11ea-9c78-3bf1c6205572.png)

1. Search "Comu

[2020-09-09 13:37] #651 closed

[2020-09-09 14:01] #635 closed

[2020-09-09 16:57] sebbalex commented on #616
This is fixed by #654 but still there is a little glitch with icons used in modal search where the first and last ones are svg from BSI and others are directly imported as assets. Since these icons are important assets for every PA we should look forward to insert them into BSI directly.

[2020-09-09 16:59] sebbalex commented on #616
I'm close this and eventually track details above in a new dedicated issue.

[2020-09-09 16:59] #616 closed

[2020-09-10 06:26] bfabio opened #669 "Uncaught Invariant Violation error in console"
The console shows an error that doesn't seem to have consequences on the site:

[code]

[2020-09-10 07:37] #659 closed

[2020-09-10 08:33] bfabio commented on #616
100% agree

[2020-09-10 08:44] libremente opened #671 "PA icons should be embedded in BSI"
There is a little glitch with icons used in modal search where the first and last ones are SVG from BSI and others are directly imported as assets. Since these icons are important assets for every PA we should look forward to insert them into BSI directly.

![Schermata da 2020-09-10 10-46-39](https://user-images.githubusercontent.com/25111463/92704043-f4506a00-f352-11ea-9ee3-cfac25aa4e30.png)

_Or

[2020-09-10 08:45] libremente commented on #671
@sebbalex if you provide some more details we might ask what @francescozaia thinks about it.

[2020-09-10 08:49] libremente commented on #664
Slightly related to #671 cc @sebbalex

[2020-09-10 08:52] libremente opened #672 "Search modal: "Misc" category does not have an icon"
The `Misc` category does not have an icon and it looks like it's not loading or something. I believe we should find a proper icon also for this case:
![Schermata da 2020-09-09 15-21-34](https://user-images.githubusercontent.com/25111463/92604074-5efc9980-f2b0-11ea-9502-c32fa965c5e3.png)

[2020-09-10 08:52] libremente commented on #672
Slightly related to #671

[2020-09-10 12:56] #660 closed

[2020-09-10 13:04] #625 closed

[2020-09-10 14:10] sebbalex commented on #671
@libremente @francescozaia
We should consider to add these icons to BSI since they could be "PA" related:

https://github.com/italia/developers.italia.it/blob/master/assets/images/icon-type-software-open.svg
https://github.com/italia/developers.italia.it/blob/master/assets/images/icon-type-software-open--gray.svg

https://github.com/italia/developers.italia.it/blob/master/assets/images/icon-type-p

[2020-09-10 14:23] libremente commented on #671
@francescozaia we can open a dedicated issue on BSI repo if that makes sense for you, thanks!

[2020-09-10 14:24] sebbalex commented on #368
We have a live preview here: https://deploy-preview-562--developers-italia.netlify.app/it/search?type=reuse_software&page=0&sort=relevance
suggestions are welcome!

cc @libremente @bfabio

[2020-09-10 14:40] sebbalex opened #675 "Create permalink for filters in to-do page"
**Describe the solution you'd like**

I expect a permalink which points to a selected filter in to-do page, something like:
https://developers.italia.it/it/cosa-fare?type=hacktoberfest

**Describe alternatives you've considered**

**Additional context**

[2020-09-10 15:28] bfabio commented on #368
@sebbalex Really nice! A couple things I noticed:

* We probably want the "Read more" part to be aligned to the bottom of the card
* What about showing the full description on hover? It could be useful for software whose description is truncated
* Can we align the header when "Software open source" is next to another type?
![Screenshot_2020-09-10 Catalogo](https://user-images.githubusercontent.com

[2020-09-11 07:43] sebbalex commented on #368
definitely, it would benefit the readability.

👍

@libremente WDYT?

[2020-09-11 08:22] bfabio opened #677 "script/github_importer.rb could probably benefit from using GraphQL"
`script/github_importer.rb` right now uses the [GitHub REST APIs](https://docs.github.com/en/rest) and takes about 2 minutes to complete.

We can probably reduce that time by using the [GitHub GraphQL APIs](https://docs.github.com/en/graphql) instead, especially in the `fetch_teams` and `fetch_issues` methods.

[2020-09-11 08:32] libremente commented on #368
Ok

I am not 100% convinced about this. I mean, it could be nice but we should probably open a dedicated issue and work on it later on with lower priority.

Let's try to shrink the font size to 0.75rem and see what happens.

[2020-09-11 08:39] libremente opened #678 "API pages marked as "coming soon" should not be indexed"
**Describe the bug**

Right now API pages marked as "Coming Soon" are indexed and returned via search bar. Try https://developers.italia.it/it/api/trasporti-opendata.html for example. This page should not be indexed and should not show up.

**To Reproduce**
1. Go to Search Bar
2. Search for "opendata"
3. Click the result
4. You are seeing a page that should not be seen

**Expected behavior**

Thos

[2020-09-11 08:40] libremente opened #679 "Administration category is lowercase"
**Describe the bug**

The `administration` category shows up as lowercase. It should be uppercase like the other ones.
![Schermata da 2020-09-11 10-39-34](https://user-images.githubusercontent.com/25111463/92894801-2e853e80-f41b-11ea-9c2d-e1058374734d.png)

[2020-09-11 08:42] sebbalex opened #680 "Search engine must have all available types in filter"
**Describe the solution you'd like**

As of now in search page we have only three different Type as filter (Platforms, OSS, Reuse SW) but I expect to have all available types that live in catalog, such as: Administrations, API.

**Describe alternatives you've considered**

**Additional context**

[2020-09-11 08:46] sebbalex opened #681 "API button in search modal"
**Is your feature request related to a problem? Please describe.**

API are searched by search engine but I expect a dedicated button to filter them just as it already happens with other types

**Describe the solution you'd like**

API button in search modal.

**Describe alternatives you've considered**

**Additional context**

[2020-09-11 08:48] libremente commented on #57
Closing for now.

[2020-09-11 08:48] #57 closed

[2020-09-11 08:52] sebbalex opened #682 "API are filtered in search modal but not in search page"
**Describe the bug**

API are searched by search modal but not in search page. If you type a valid API in modal suggestions appears in box below as it should but searching all over site doesn't show same results.

**To Reproduce**

![Screen-Recording-2020-09-11-at-1](https://user-images.githubusercontent.com/11008116/92896588-ca637a00-f41c-11ea-8a58-e1d34b28d012.gif)

[2020-09-11 09:17] bfabio commented on #663
@libremente That key is kinda misleading: those are just the prefixes we can turn to a human readable project in the UI (ie. "lg-" becomes "Linee guida" or "Guidelines").

We always get all the projects in the organization.

[2020-09-11 10:17] sebbalex commented on #368
@libremente @bfabio thanks for your suggestions, I think I have addressed all of them, please have a look:
https://deploy-preview-562--developers-italia.netlify.app/it/search?type=software_open&page=0&sort=relevance

[2020-09-11 10:23] bfabio commented on #368
@sebbalex Great, I think that's ready to be checked in :rocket:

[2020-09-11 10:24] libremente commented on #368
I need to review it later, I'm not so convinced @sebbalex

[2020-09-11 10:29] #679 closed

[2020-09-11 11:10] bfabio commented on #397
IMO that's good enough for this issue. We can always improve it after the global UX rework. @libremente WDYT?

[2020-09-11 13:31] libremente commented on #368
@sebbalex personally I believe that the space above "Leggi tutto" is too much and there is no clear separation among the rows.
![Schermata da 2020-09-11 15-25-01](https://user-images.githubusercontent.com/25111463/92930966-11fcfc80-f443-11ea-9afe-cde60b82c0a5.png)
I'd try to reduce that space a little, something like `bottom: 40px`. WDYT?

[2020-09-11 13:38] bfabio opened #684 "Investigate whether we can get rid of GITHUB_ACCESS_TOKEN"
`github_importer.rb` needs `$GITHUB_ACCESS_TOKEN` to be set to a token in the italia organization because of calls that need that kind of authorization (eg. https://api.github.com/orgs/italia/teams).

This is problematic because `$GITHUB_ACCESS_TOKEN` is not set on pipelines started by PRs and in our staging environment on Netlify.
Also, developers not being part of italia can't properly test the

[2020-09-11 14:08] kmlhsn opened #685 "Contents of "Developers > AP" is not in English"
**Describe the bug**

Contents of the API on Developers page is not in English.

**To Reproduce**

1. Go to 'developers.italia.it '
2. Click on 'down arrow' on the top menu bar.
3. Click on "English"
4. Click on "API"

**Expected behavior**

Contents should be in English as "English" language is selected
**Screenshots**

![image](https://user-images.githubusercontent.com/32615215/92935255-5c45a400

[2020-09-11 14:22] libremente commented on #685
Thanks @kmlhsn for the issue! I believe this is due to the fact that the openapi specs are written in just one language, you can see here which one it is: https://github.com/italia/developers.italia.it/blob/master/_data/apis.yml
We currently don't have specs translated in both ITA and ENG, but can you please take a deeper look at this issue @ioggstream? Thanks!

[2020-09-11 14:40] #662 closed

[2020-09-11 14:42] ioggstream commented on #685
@libremente @kmlhsn This is a known issue and - currently - we do not have a straightforward solution as every API provider is in charge for their spec. Eg.

- Earthquake API is documented in English
- BankItalia API is in Italian

We will investigate whether we can provide a google-translate version of the documentation, though it will probably not be good enough to consume the service?

@kmlhsn

[2020-09-11 15:03] bfabio opened #686 "Restore the style of selects in /en/to-do"
Restore the style of select boxes disabled by #647

| now | desired |
|-------|-----------|
| ![image](https://user-images.githubusercontent.com/788293/92941454-ade13500-f450-11ea-8e51-76b01abfbbc1.png) | ![image](https://user-images.githubusercontent.com/788293/92941249-6d81b700-f450-11ea-8285-cf76def80eb2.png) |

[2020-09-11 16:33] sebbalex commented on #368
Cards are auto-adapted to single card which has the highest height so we could tune that param as we wish, going to set it to 40px.

[2020-09-12 14:08] kmlhsn opened #687 ""Intro","How to become a S.." section box is fixed, as a result it scroll up from the view port when scrolling"
**Describe the bug**

"Intro","How to become a S.." section box under "platfrom -><items detail>" is fixed, as a result it scroll up from the view port when scrolling
**To Reproduce**

1. Go to 'https://developers.italia.it/''
2. Click on 'Platforms'
3. Click on 'Read more' from any items. I clicked "SPID"
4. Click on "Documentation, SDK, Graphic resources, Tools" on the right side box

**Expected

[2020-09-12 17:12] kmlhsn opened #688 ""Community leaders" Does not have "Dot" Pagination."
**Describe the bug**

"Community leaders" Only have one "Dot" for pagination.
**To Reproduce**

1.Go to 'https://developers.italia.it/''
2.Click on 'Platforms'
3.Click on 'Read more' from any items. I clicked "SPID"

**Expected behavior**

"Community leaders" should have two "Dot" for pagination.
**Screenshots**

![image](https://user-images.githubusercontent.com/32615215/93000939-2a593e00-f54d-11

[2020-09-14 07:24] bfabio opened #691 "Build the Docker image as part of the CI pipeline and use it"
**Is your feature request related to a problem? Please describe.**
Sometimes we aren't able to catch certain errors earlier in the pipeline, fe:
* Anything related to Dockerfile and its build
* Version mismatch of software (fe. ruby version)
* Mismatch in the steps of the build among the environments (Dockerfile, CircleCI and Netlify)

**Describe the solution you'd like**
Have the Docker image bui

[2020-09-14 10:07] bfabio opened #692 "Use the resized image in avatars from GitHub"
Whenever we are displaying a GitHub user (eg. https://developers.italia.it/en/contacts, https://developers.italia.it/en/18app/ and other Platforms), we are using the full size image, only to resize it with HTML.

We should just get the resized image from GitHub, with the appropriate `s=` parameter:
* `https://avatars2.githubusercontent.com/u/788293?v=4`
vs
* `https://avatars2.githubusercontent.com

[2020-09-14 10:10] bfabio commented on #688
@kmlhsn Thanks for the issue, confirming. This can be a good Hacktoberfest issue!

[2020-09-14 15:33] libremente commented on #397
Ok makes sense, let's consider this one closed after the merge of your work @sebbalex

[2020-09-14 15:34] sebbalex commented on #397
already merged: https://github.com/italia/developers-italia-backend/pull/177

Closing!
Thanks

[2020-09-14 15:34] #397 closed

[2020-09-15 09:28] #368 closed

[2020-09-15 13:42] #675 closed

[2020-09-16 06:37] bfabio opened #695 "Refactor the Javascript code and possibly drop jQuery"
The current Javascript code is a mixture different styles of doing things. It's mostly jQuery based with a few plugins and it's hard to maintain.

We should refactor it and stick to one paradigm, possibly component-based.

[2020-09-16 09:00] bfabio commented on #669
The proper fix would be to use [swagger-ui-react](https://github.com/swagger-api/swagger-ui/issues/3955#issuecomment-468953136), which addresses this very problem.

Problem is `swagger-ui-react` [doesn't support custom plugins](https://github.com/swagger-api/swagger-ui/issues/5367) and that's the whole point of our Swagger integration.

Pushing the issue back for now since the issue doesn't seem t

[2020-09-16 09:14] bfabio opened #696 "We should use a dedicated token for gh-pages deployments"
We're using Luca's token now. It would be nicer to use a deployment token not tied to any particular user.

![image](https://user-images.githubusercontent.com/788293/93317405-ba2d0f80-f80d-11ea-8445-79bd9167dec0.png)

[2020-09-16 13:23] bfabio opened #699 "Images supposed to be in background make the layout resize"
Images that should be just background decoration make the content change position when the image finishes loading.

Example, contact page: https://developers.italia.it/en/contacts
![Peek 16-09-2020 15-20](https://user-images.githubusercontent.com/788293/93343023-4cdea600-f830-11ea-9fea-a6c09ce3b7d0.gif)

The content should not change position while the image loads.

[2020-09-16 16:24] #686 closed

[2020-09-18 15:33] libremente opened #700 "Missing images are not correctly handled on search results"
Search results are sometimes broken, see image.
We should handle them in the same way we do in the other pages.

![Schermata da 2020-09-18 17-31-45](https://user-images.githubusercontent.com/25111463/93616383-f6f73300-f9d4-11ea-9546-da424f1f5c9a.png)

[2020-09-19 15:16] Laischon commented on #699
Hi! At the moment the image is not loaded as background, nor with a position absolute.

Below I am attaching two alternatives that in addition to setting the image in the background also avoid the scrolling of the elements.
![devit_3](https://user-images.githubusercontent.com/7593569/93670429-9da60700-fa9b-11ea-8d2a-9c6f93349316.PNG)
![devit_2](https://user-images.githubusercontent.com/7593569/936

[2020-09-21 08:38] bfabio commented on #699
Hey @Laischon, the second one looks better to me. @sebbalex, @libremente wdyt?

Note that we have the same issue on other pages as well (eg. https://developers.italia.it/en/how, https://developers.italia.it/en/get-involved, https://developers.italia.it/en/news/, etc.)

[2020-09-22 06:01] bfabio commented on #431
Hi @Lawrence4code, any news?

[2020-09-23 09:43] bfabio opened #701 ".well-known/security.txt doesn't get deployed"
https://developers.italia.it/.well-known/security.txt returns a 404, when it should actually return [security.txt](https://github.com/italia/developers.italia.it/blob/master/.well-known/security.txt)

[2020-09-23 09:51] libremente opened #702 "Button does not have a name"
**Describe the bug**
[code]

We should probably add a name to the element.
Tested with pa11y

[2020-09-23 09:53] libremente opened #703 "Img element missing alt text"
# a11y bug
[code]
Experienced in /it/18app page.
Please note: this is not a single page related bug but most probably the fix has to be provided in the layout that the page inherits.

[2020-09-23 09:54] libremente opened #704 "Form does not contain a submit button"
# a11y bug
[code]

[2020-09-23 09:58] libremente opened #705 "textinput element does not have a name available"
# a11y bug
[code]

[2020-09-23 09:59] libremente opened #706 "Form field should be labelled in some way"
# a11y bug
[code]

[2020-09-23 10:06] bfabio opened #707 "Add pa11y-ci to the CI pipeline"
Run accessibility tests in the CI pipeline against all the generated pages with https://www.npmjs.com/package/pa11y-ci.

[2020-09-23 10:08] libremente opened #708 "Img tag missing alt text"
# a11y bug

Experienced in `/it/18app` page.
[code]
Please note: this is not a single page related bug but most probably the fix has to be provided in the layout that the page inherits.

[2020-09-23 10:11] libremente commented on #700
Please note that most probably the console error is not directly linked to the issue.

[2020-09-23 10:28] libremente commented on #707
True, we need this, however since there are many errors right now spread all over the pages I would give priority to the error fixing job and then later on we can try to set this up, if not we might have issues on every build.
`pa11y-ci` is cool since it works on sitemaps `-s developers.italia.it/sitemap.xml`. However there is also https://www.npmjs.com/package/pa11y which provides info on the sin

[2020-09-23 13:27] Roshan13046 commented on #708
I would like to work on this issue.
Suggest some ways to get started.

[2020-09-23 13:41] libremente commented on #708
Hi @Roshan13046 and thanks for your interest!
As you may see, that page https://github.com/italia/developers.italia.it/blob/master/_platforms/it/18app.md has "github_team" set so you should probably check into this file https://github.com/italia/developers.italia.it/blob/70152d5c1537d8a80d92d8bfd7da4f2ca44cf2a6/_includes/github_team_members.html and see if the problem lies there. I can see an img

[2020-09-23 14:05] libremente opened #712 "Add Slack links to README file"
README file should have a direct link to the Slack invitation page.

[2020-09-23 14:23] Roshan13046 commented on #708
I have started working on this issue.

[2020-09-23 14:26] libremente commented on #712
Fixed by #713

[2020-09-23 14:26] #712 closed

[2020-09-23 15:22] bfabio commented on #701
The file [is there](https://github.com/italia/developers.italia.it/tree/gh-pages/.well-known) but it still doesn't show up at https://developers.italia.it/.well-known/security.txt

[2020-09-24 10:03] bfabio commented on #701
Re-running the build.

[2020-09-24 19:35] 4Rebin commented on #704
I would like to work on this issue.

[2020-09-24 19:36] 4Rebin commented on #704
I would like to work on this issue.

[2020-09-24 19:54] 4Rebin commented on #703
I would like to work on this issue.

[2020-09-24 20:31] Trustidiong commented on #706
Hey, I would like to work on this issue. I think it will be fun.

[2020-09-24 20:31] Trustidiong commented on #705
Hey, I would like to work on this issue. I think it will be fun.

[2020-09-24 20:32] Trustidiong commented on #704
Hey, I would like to work on this issue. I think it will be fun.

[2020-09-24 20:32] Trustidiong commented on #703
Hey, I would like to work on this issue. I think it will be fun.

[2020-09-24 20:32] Trustidiong commented on #702
Hey, I would like to work on this issue. I think it will be fun.

[2020-09-24 20:55] soulhunter10737 commented on #703
I would like to take this

[2020-09-25 05:36] mishrajiharsh219 commented on #706
Addressing #706
Hey, I would love to work on this issue, I will be able to solve this.

[2020-09-25 05:39] mishrajiharsh219 commented on #704
Addressing #704
Hey, I would love to work on this, Open-source is awesome.

[2020-09-25 05:41] mishrajiharsh219 commented on #702
Addressing #702
Hey, I would love to work on this, I think it will be fun for me.
open-source is awesome.

[2020-09-25 05:45] mishrajiharsh219 commented on #705
Addressing #705
Hey, I would love to work on this, I think it would be fun.

[2020-09-25 06:54] CilgaIscan commented on #706
I would like to work on this. Could you assign this to me ? @libremente

[2020-09-25 08:00] lmillucci commented on #345
I would like to work on this issue during the weekend.
As far as I can see we should translate indicepa and noipa too.

[2020-09-25 08:13] libremente commented on #699
Yes, the second one looks better to me as well.
I believe we should work on all the images in a dedicated PR, WDYT?

[2020-09-25 08:17] libremente commented on #704
Thanks a lot @4Rebin, waiting forward for your PR!
Thanks also to @mishrajiharsh219, if you want to help us you could review @4Rebin's PR 👍

[2020-09-25 08:18] libremente commented on #703
Hi @Trustidiong, thanks for your interest! Waiting for you PR!

[2020-09-25 08:19] libremente commented on #702
Thanks, for your interest. Assigning @mishrajiharsh219 to this one.

[2020-09-25 08:20] libremente commented on #706
Thanks everyone for your interest. @CilgaIscan you can work on this one! 😃

[2020-09-25 09:46] adrienluitot commented on #692
Hello,
I think I can work on it, if it's okay for you? :D

[2020-09-25 11:30] bfabio commented on #692
@adrienluitot Go for it :)

Those files are downloaded during build, here they are:

[github.zip](https://github.com/italia/developers.italia.it/files/5282471/github.zip)

[2020-09-25 11:37] adrienluitot commented on #692
Thanks :D

[2020-09-25 15:51] Laischon commented on #699
Ok! Done.
Let me know what you think about. 😅

[2020-09-26 14:27] adrienluitot commented on #692
Hello,

I started working on it, but the community leaders, maintainers... don't seem to appear on the pages.
Do I need a github access token ?

[2020-09-26 14:38] bfabio commented on #692
Hello @adrienluitot, make sure those yaml files are in the `_data` directory.

How are you building the site?

[2020-09-26 15:20] adrienluitot commented on #692
Yep I added the files.

I launch it like this : `sudo docker-compose up` should I add the `--build` argument ?

[2020-09-26 16:01] bfabio commented on #692
Are you on [our Slack](https://slack.developers.italia.it/)? We can sort this out on the `#website` channel.

[2020-09-26 20:29] adrienluitot commented on #692
Hello, I'm on it ;)

[2020-09-28 09:26] bfabio commented on #701
Deployed.

[2020-09-28 09:26] #701 closed

[2020-09-28 11:41] bfabio opened #718 "The search modal should autofocus the input field"
The search field is not focused by default when the search modal is opened, requiring the user to click on it.
Tested on Firefox and Chromium.

![Peek 28-09-2020 13-38](https://user-images.githubusercontent.com/788293/94427854-0a9e5880-0190-11eb-8be6-7403d9147384.gif)

[2020-09-28 11:48] qwerty-rgb commented on #718
I would like to work on this issue.
Suggest some ways to get started.

[2020-09-28 11:55] bfabio commented on #718
Hello @qwerty-rgb!

You can start bringing up the development environment as described in https://github.com/italia/developers.italia.it#development and start investigating `_includes/search-modal.html`.

Happy coding!

[2020-09-28 12:20] qwerty-rgb commented on #718
<div id="searchModal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <p class="h1 modal-title d-inline"> {{ t.search_form_label | capitalize }}</p>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">

[2020-09-28 12:45] bfabio commented on #491
Hello @ritikasource, any news on this?

[2020-09-28 13:00] #699 closed

[2020-09-28 14:48] qwerty-rgb commented on #718
is the above way of submitting code is the right way

[2020-09-28 14:51] sebbalex commented on #718
Thanks for your effort, but I'm here to ask you more :) could you please open a PR with your solution?

[2020-09-28 14:53] qwerty-rgb commented on #718
i am new here can u please guide me how to do it

[2020-09-28 14:56] qwerty-rgb commented on #718
how can i push the changes

[2020-09-28 16:46] libremente opened #719 "Software name lenght exceeds column width"
**Describe the bug**
![Schermata da 2020-09-28 18-43-26](https://user-images.githubusercontent.com/25111463/94461747-d4c29980-01ba-11eb-8fb6-efcc99474800.png)

As you can see from the screenshot, the name is too long and overlaps other elements on its right. This is probably due to the fact that the dots make it impossible to naturally split it with a return.

## Reproduce
Look for that software i

[2020-09-28 18:42] amycruz97 commented on #718
can i take on this

[2020-09-29 06:17] Samkit-shah commented on #719
where is this page? how to reproduce this bug?

[2020-09-29 08:08] libremente commented on #719
Hi @Samkit-shah, you can search for `rer flask` for example and hit enter.
This is the results page:
![Schermata da 2020-09-29 10-06-42](https://user-images.githubusercontent.com/25111463/94530562-8c978b80-023b-11eb-986c-1f03cc3f1644.png)
The issue appears in the first results on the left.

[2020-09-29 08:38] libremente commented on #718
Hi @qwerty-rgb, did you figure out how to open a PR for this?
Hi @amycruz97, are you planning to open a PR for this issue?

[2020-09-29 09:03] amycruz97 commented on #718
yes for hackoberfest

[2020-09-29 09:26] amycruz97 commented on #718
i have cloned the repo.what do i do next. where can i find where to make changes

[2020-09-29 15:15] libremente opened #720 "Graphical glitches in 404 page"
Right now the 404 page has some issues.
1. The `API` link in the Linklist section is set as active
2. Links like "Come lo uso, Come partecipo..." are stiled like "Platform, Software, API", so there is a white line below the section.

![Schermata da 2020-09-29 17-11-34](https://user-images.githubusercontent.com/25111463/94577799-419b6980-0277-11eb-9b7f-6c899b4b9f05.png)

[2020-09-29 15:19] libremente opened #721 "Errors when browsing the dashboard page"
**Describe the bug**
When browsing the /it/dashboard page there are many errors in the console and the CPU usage spans to 100%. This is suboptimal. Since that's an iframe this is probably related to the dashboard being included, however let's keep this issue open until we find a proper fix.

**To Reproduce**
1. Browse the /it/dashboard page
2. Open the console inspector

[2020-09-30 07:50] libremente opened #722 "Button background color makes it difficult to read the text"
![Schermata da 2020-09-30 09-47-17](https://user-images.githubusercontent.com/25111463/94657727-2c1f5180-0302-11eb-8f37-a069037253aa.png)

When hovering the button in /it/software page the background goes blue and it's hard to read the blue text in it.
We should probably stick with the white color.

[2020-09-30 08:22] UshasriMavuri1999 commented on #722
Hey @libremente , Can you please assign this issue to me? I would like to work on this:)

[2020-09-30 08:22] libremente commented on #345
Hi @lmillucci and thanks for your interest!
That would be a great help, let me know if you need further details. Thank you!! :rocket:

[2020-09-30 08:27] libremente commented on #722
Hi @UshasriMavuri1999 that would be great! Waiting for you PR then :+1:

[2020-09-30 08:59] libremente opened #723 "Icon wrapper rendered without the twitter icon in news"
**Describe the bug**

There is a blue dot representing the icon wrapper (see image at the bottom) next to the author name in every news. This links to twitter but the icon is missing.

![Schermata da 2020-09-30 10-53-25](https://user-images.githubusercontent.com/25111463/94664640-6b9e6b80-030b-11eb-9c3c-dea064b39f77.png)

See https://developers.italia.it/it/news/2019/11/14/terminato-hacktoberfest-

[2020-09-30 10:16] ameybhavsar24 commented on #723
I have got a fix and making a PR soon.

[2020-09-30 10:28] libremente commented on #723
Great @ameybhavsar24 , assigning it to you, thanks!

[2020-09-30 10:57] bfabio opened #725 "Hover text on links to Twitter in news pages"
In the news pages, the link to Twitter should describe itself more clearly, hinting it's a link to share the current news on Twitter, for example displaying "Share on twitter" on mouse hover or next to the icon.

![Peek 30-09-2020 12-55](https://user-images.githubusercontent.com/788293/94676802-32bac280-031c-11eb-88ef-42405c9ba6dd.gif)

[2020-09-30 11:24] 1880akshay commented on #725
Can I work on this issue? Please assign it to me.

[2020-09-30 11:24] bfabio opened #726 "Platforms thumbnails should have a friendly name and possibly a short description"
The Platform thumbnails (fe. at https://developers.italia.it/it/piattaforme) should include the full project name as well (fe. Anagrafe Nazionale Popolazione Residente (ANPR), Carta d'Identità Elettronica (CIE)) as prescribed by the AAAAA (American Association Against Acronyms Abuse).

A short description below the title would also be a welcome improvement.

![image](https://user-images.githubuser

[2020-09-30 11:25] ameybhavsar24 commented on #725
Do you think the `title="Share on Twitter"` attribute should suffice?
Something like:
![RipeUnhappyFirecrest-size_restricted](https://user-images.githubusercontent.com/28699912/94679419-ade0a080-033d-11eb-99d9-0d4afd1a7fb1.gif)

[2020-09-30 11:38] bfabio commented on #725
@ameybhavsar24 That would do it :+1: I'm assigning this to @1880akshay as they asked first, if you don't mind. Feel free to review the resulting PR!

[2020-09-30 11:39] ameybhavsar24 commented on #725
Not a problem. Don't know why @1880akshay deleted his comment.

[2020-09-30 11:41] bfabio commented on #725
@ameybhavsar24 Nevermind, @1880akshay deleted the comment. You can go ahead if you want :smiley:

[2020-09-30 11:57] 1880akshay commented on #725
@bfabio sorry for the inconvenience, actually I am not much familiar with the tech stack used in this project due to which I was facing issues while running the code locally, so that is why I deleted my comment.

[2020-09-30 12:07] bfabio commented on #725
@1880akshay Don't worry, thanks for the clarification :+1:

[2020-09-30 15:18] amycruz97 commented on #718
Hello, the where can i find the file  to make changes on

[2020-10-01 05:59] #723 closed

[2020-10-01 12:11] shamikakumar commented on #726
Can I work on this issue ?

[2020-10-01 12:18] libremente commented on #726
Hi @shamikakumar, thanks for your interest. Are you proficient in Italian to work on this issue?

[2020-10-01 12:18] shamikakumar commented on #720
Can I work on this issue ?

[2020-10-01 12:19] libremente commented on #718
@amycruz97 please read carefully the whole discussion, hints are already present. Thank you

[2020-10-01 12:23] shamikakumar commented on #726
No.. let me check out other issues I can work on, thanks!

[2020-10-01 13:22] libremente opened #730 "Close news category icon not shown"
**Describe the bug**
When browsing the news it is possible to select one of the categories.
![Schermata da 2020-10-01 15-21-12](https://user-images.githubusercontent.com/25111463/94814554-cadaa980-03f9-11eb-85ee-27090ec07e60.png)

When selecting for example "Community" it should also be possible to deselect it.
As you can see below, the "close" icon is not present and there is a weird blue box aro

[2020-10-01 15:42] ccatterina commented on #730
Hi, I would like to work on this. Can you assign this issue to me? Thanks

[2020-10-01 16:47] libremente commented on #730
Hi @ccatterina, sure thing! Thanks for your time!

[2020-10-02 08:27] #730 closed

[2020-10-02 08:30] libremente opened #733 "Software text overlap"
**Describe the bug**
As seen below, there is an overlapping of the "Leggi di più" text over the software description.
![WhatsApp Image 2020-10-02 at 09 52 50(2)](https://user-images.githubusercontent.com/25111463/94903447-1e9ccf80-049a-11eb-8671-55e088b1dd31.jpeg)

**To Reproduce**
1. Go to the software page with a mobile browser

[2020-10-02 08:33] libremente opened #734 "Wrong margins in categories cloud"
**Describe the bug**

News categories cloud does not have proper margins when browsed via mobile, see image below:
![WhatsApp Image 2020-10-02 at 09 52 50(1)](https://user-images.githubusercontent.com/25111463/94903798-9c60db00-049a-11eb-9b5e-5e7aa945e07c.jpeg)

[2020-10-02 08:34] libremente opened #735 "No margin in footer entry"
**Describe the bug**

Footer entry "Follow us on" does not have proper margins.
See image below:
![WhatsApp Image 2020-10-02 at 09 52 50](https://user-images.githubusercontent.com/25111463/94903922-d0d49700-049a-11eb-9674-3b8dfe996759.jpeg)

[2020-10-02 08:53] libremente opened #736 "Counter-intuitive arrow icons in header"
**Describe the bug**

When browsing the website via mobile browser, there are a set of arrows at the top right corner of the header that are very counter-intuitive and hard to use.
We should review their layout.

![new_image](https://user-images.githubusercontent.com/25111463/94905572-63763580-049d-11eb-9921-8c249da55e14.jpeg)

Similarly, we should just write just the acronym -something like `MID`

[2020-10-02 08:57] libremente opened #737 "Ugly vertical spacing in website name"
**Describe the bug**

`Developers Italia` has too much vertical spacing and no margin from the logo. This is very ugly IMHO. We should find a way to fix it.
![WhatsApp Image 2020-10-02 at 10 46 43(1)](https://user-images.githubusercontent.com/25111463/94905987-06c74a80-049e-11eb-9aa6-463e8ab99679.jpeg)

[2020-10-02 09:12] Joshuafolorunsho commented on #737
I can work on this. can you assign me @libremente ?
Also this is on mobile, right?

[2020-10-02 09:14] libremente commented on #737
Hi @Joshuafolorunsho, thanks for your interest. Yes, this is related to mobile. If you browse developers.italia.it you should see this happening.

[2020-10-02 09:15] Joshuafolorunsho commented on #735
could you expatiate more ?

![image](https://user-images.githubusercontent.com/55793353/94907450-1a6fb280-0498-11eb-8723-3588d0ebfb49.png)

[2020-10-02 09:31] libremente commented on #735
Hi @Joshuafolorunsho, I like your proposal! What do you think @bfabio?

[2020-10-02 09:40] urmauur commented on #735
can you @libremente assign it to me?

[2020-10-02 09:41] akashprasher commented on #736
What if I reduce the size of the text to 0.8rem?
![image](https://user-images.githubusercontent.com/42891970/94909829-6420c300-04c1-11eb-88b5-ab87d4ce1a8e.png)

[2020-10-02 09:44] libremente commented on #736
Thanks @akashprasher for your interest. WDYT @bfabio? I believe it could work

[2020-10-02 09:49] bfabio commented on #735
@libremente Looks good :+1:

[2020-10-02 09:51] libremente commented on #735
Thanks @Joshuafolorunsho, waiting for your PR :wink:

[2020-10-02 09:58] bfabio commented on #736
@libremente :+1:

[2020-10-02 10:04] libremente commented on #736
Waiting for you PR then @akashprasher! Thanks!! :rocket:

[2020-10-02 10:22] itsnitinr commented on #734
Hi, could I work on this, please?

[2020-10-02 10:23] ayushkumarsinha commented on #734
I'd like to work on this issue

[2020-10-02 10:24] ayushkumarsinha commented on #733
I'd like to work on this issue

[2020-10-02 10:42] bfabio commented on #734
@itsnitinr Sure, go ahead :+1:

[2020-10-02 10:58] libremente commented on #733
HI @ayushkumarsinha, how are you planning to solve this issue? Thanks!

[2020-10-02 11:22] itsnitinr commented on #734
Hi @libremente. I've been trying to setup docker-compose on my Majaro Linux environment for an hour now but it doesn't seem to work. Possibly a kernel issue. Please assign the issue to someone else as I may not be able to get it running. Sorry.

[2020-10-02 12:17] ameybhavsar24 commented on #720
@libremente I'd like to work on this issue.
Could you explain some code in [_includes/linklist.html](https://github.com/italia/developers.italia.it/blob/53bd31c0667fa0efc6ca2c6fdbc3a672767b851e/_includes/linklist.html)?
Specifically,
[code]
Some examples when isActive is set to true will be enough.

[2020-10-02 15:03] bfabio opened #743 "Use a single image as placeholder image for reuse software"
We should use just one image as placeholder for reuse software instead of `cover_softwareriuso.png` and `placeholder-software-riuso.jpg` and call it `software_riuso.png`.

_Originally posted by @libremente in https://github.com/italia/developers.italia.it/pull/742#discussion_r498870749_

[2020-10-02 15:11] libremente opened #744 "PA page should be naturally sorted and have pagination"
Right now the PA page (https://developers.italia.it/it/pa) is not well sorted alphabetically and does not have pagination. I believe we should have it.

[2020-10-02 15:12] libremente commented on #743
Uhm @bfabio sorry my bad I didn't explain well. My point was just to simply rename the `softwareriuso` file into `software_riuso` :smile: I believe it can be nice to show two different placeholders, WDYT?

[2020-10-02 15:22] eliteReaper commented on #743
Can I be assigned to this? @bfabio

[2020-10-02 15:26] UchihaCFC commented on #743
@bfabio 

Do you want to always use the same image regardless of the category where you are? Right now cover\_softwareriuso.png is used if the category is equal to 'public-sw' if the cover\_software\_opensource.png is not applied, would it be to replace this logic by always using a single one called 'software\_riuso.png'? or simple rename the cover\_softwareriuso.png image to software\_riuso.png?

[2020-10-02 15:28] bfabio commented on #743
@libremente Sorry, I actually added another piece to what you mentioned because I noticed [`cover_softwareriuso.png`](https://github.com/italia/developers.italia.it/blob/master/assets/images/cover_softwareriuso.png) and [`placeholder-software-riuso.png`](https://github.com/italia/developers.italia.it/blob/master/assets/images/placeholder-software-riuso.jpg) are basically the same image.

Note I wa

[2020-10-02 15:31] UchihaCFC commented on #743
@bfabio Ok, I understand that you just have to rename the image to a new name, I would like to be able to contribute, not only with this issue, could we start with this one? if not tell me if there's another frontend I can contribute to;) Thanks!

[2020-10-02 15:36] #725 closed

[2020-10-02 15:49] libremente commented on #743
Ok, makes sense, just please take into consideration the size (in px) of those images. If we get rid of one (which is the best way IMHO) we should consider resizing it as needed.

[2020-10-02 16:00] bfabio commented on #743
I think it just happened with no real reason. We should use PNG.

[2020-10-02 16:00] bfabio commented on #743
@eliteReaper Of course, there you go! :+1:

[2020-10-02 16:04] bfabio commented on #743
@UchihaCFC I assigned @eliteReaper as they asked first, but we have more in this very repo. :wink:

https://github.com/italia/developers.italia.it/issues?q=is%3Aissue+is%3Aopen+label%3AHacktoberfest

Here you can find issue for other repos in our organization: https://developers.italia.it/en/to-do
It would be nice to merge your contribution!

[2020-10-02 16:09] UchihaCFC commented on #743
@bfabio Thank you! I'm going to take a look at the other issues to see if I can help with any of them ;)

[2020-10-02 16:12] aritropc commented on #734
I'd like to work on this issue!
Can you please provide the URL to the page where the glitch?

[2020-10-02 16:15] UchihaCFC commented on #688
@bfabio Can I do this? I see that it is not assigned yet and it would be a good start :)

[2020-10-02 16:54] #700 closed

[2020-10-02 16:57] aritropc commented on #734
![image](https://user-images.githubusercontent.com/32550413/94949283-4c1b6480-04fe-11eb-9749-0a2b23e9d6ec.png)
Does it look cool?

[2020-10-02 17:10] bfabio commented on #734
@aritropc It looks good :+1:

[2020-10-02 19:23] eliteReaper commented on #743
Looking at the code in place for ['placeholder-software-riuso.jpg'](365x175 px), I observe that depending on the value of ['codiceIPA'] either the former or ['cover_software_opensource.jpg'](544x352 px) is selected as the placeholder image.

I believe by simply renaming [`cover_softwareriuso.png`](544x352 px) to ['software_riuso.png'] and changing the required lines for both this and ['placeholder

[2020-10-03 06:53] #736 closed

[2020-10-03 09:36] twopill commented on #737
Ciao @libremente , ho provato a fixare .
Spero sia tutto ok perché questa è la mia prima pull request lol.

Questo è il link al fix: [https://github.com/italia/developers.italia.it/pull/745](https://github.com/italia/developers.italia.it/pull/745)

[2020-10-03 12:50] twopill commented on #733
@libremente
Ciao ho fixato il problema, ma provando a modificare il **main.css** ma non appaiono modifiche da poter pushare.

[2020-10-04 08:25] #692 closed

[2020-10-04 08:32] bfabio commented on #737
Hello @twopill, this issue was already assigned to @Joshuafolorunsho. Maybe you can work together?

[2020-10-04 08:37] bfabio commented on #720
@ameybhavsar24 Sorry I'm on my phone right now, but you can print variable right on the page with `{{  path_1 }}`, `{{ item.active_by_firstlevel }}`, etc. to show their contents.

[2020-10-04 12:50] gabrielatricak commented on #733
Can I be assigned to this issue?

[2020-10-04 17:12] varunpusarla commented on #735
In case it's still open, I'd like to work.

[2020-10-04 17:14] varunpusarla commented on #722
I'd like to contribute in case the issue is still open.

[2020-10-05 06:52] bfabio commented on #743
@eliteReaper That's correct.

[2020-10-05 13:51] #688 closed

[2020-10-05 16:08] UchihaCFC commented on #623
Can I do this? :) 

I update it to latest version (4.1.1 now)?

[2020-10-05 16:33] libremente commented on #623
Hi @UchihaCFC, if you feel like trying I guess you can give it a go. Please keep in mind that we are deploying through GH pages, so I believe the upgrade won't be very straightforward... see this https://github.com/github/pages-gem/issues/651 for example. I'm not sure GH is currently fully supporting Jekyl 4.x.x

[2020-10-05 16:40] ccatterina commented on #678
Hi, can I work on this?

[2020-10-05 16:43] libremente commented on #678
@ccatterina sure! Assigning this to you :+1: thanks a lot for your time!

[2020-10-05 22:02] ccatterina commented on #678
I have a doubt, do you want the API pages marked as `comingsoon` to be filtered out using the `elasticsearch` query or do you prefer that they are not indexed by the `elasticsearch` engine?

[2020-10-05 22:35] UchihaCFC commented on #623
@libremente hahaha I see, I try to update and testing that everything works correctly after that. If I think it's too complicated or I can't do it, I'll let you know 👍🏼

[2020-10-06 06:48] bfabio commented on #678
On a second thought: we'd lose information not returning it in the search. As a user I appreciate being told that something is coming soon more than having no information at all.

I think the root issue is that `comingsoon` pages should have the usual description, a coming soon badge and no swagger UI, instead of just the current "No API definition provided" message.

@libremente wdyt?

[2020-10-06 17:14] UchihaCFC commented on #623
It seems that there are no problems updating to version 4.1.1 of Jekyll. With the exception of hawkins, but I have seen that it is not necessary to continue using it because version 4 includes live reload, so I have removed it to continue with the update. You can see more about it here: awood/hawkins#17

When doing the `docker-compose up --build` I have seen that it generates new jekyll cache file

[2020-10-07 12:54] bfabio commented on #737
Hi @Joshuafolorunsho, are you still working on it?

[2020-10-07 12:55] bfabio commented on #722
Hi @UshasriMavuri1999, are you still working on the PR?

[2020-10-07 13:02] bfabio commented on #708
Hi @Roshan13046, are you still working on it?

[2020-10-07 13:03] bfabio commented on #702
Hi @mishrajiharsh219, are you still working on this?

[2020-10-07 13:06] bfabio commented on #703
Hello @Trustidiong, are you still working on this?

[2020-10-07 13:07] bfabio commented on #704
Hello @4Rebin, are you still working on this?

[2020-10-07 13:35] bfabio opened #753 "https://developers.italia.it/en/faq is empty"
https://developers.italia.it/en/faq has no content. We should provide a translation of https://developers.italia.it/it/faq

[2020-10-07 13:37] libremente commented on #753
Yes, we need someone to translate the ITA FAQs into ENG.

[2020-10-07 17:13] varunpusarla commented on #722
Sorry, I wasn't able to do it. You can unassign me.

[2020-10-08 03:05] mishrajiharsh219 commented on #702
No you can work on it if assigned

On Wed, Oct 7, 2020, 6:33 PM Fabio Bonelli <notifications@github.com> wrote:

[2020-10-08 05:53] bfabio commented on #623
@UchihaCFC Thanks, it all makes sense. Let's see how the Netlify preview looks like on a PR :+1:

[2020-10-08 05:55] bfabio commented on #705
Hey @Trustidiong, are you still working on this?

[2020-10-08 05:56] bfabio commented on #706
Hi @CilgaIscan, are you still working on this one?

[2020-10-08 05:57] bfabio commented on #734
@aritropc Looking forward to your PR :slightly_smiling_face:

[2020-10-08 06:00] bfabio commented on #735
@Joshuafolorunsho are you sill working on a PR for this one?

@varunpusarla In case they're not, you can go ahead and work on it.

[2020-10-08 06:01] Trustidiong commented on #705
@Fabio I am sorry I had a change in schedule. Please reassign the task to someone else. Thanks.

Sent from Yahoo Mail on Android

  On Thu, Oct 8, 2020 at 6:55 AM, Fabio Bonelli<notifications@github.com> wrote:

Hey @Trustidiong, are you still working on this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-10-08 07:55] sebbalex opened #757 "Software search in ENG language doesn't show results"
**Describe the bug**

Searching software in eng language doesn't show any result.
Ex: https://developers.italia.it/en/search?type=reuse_software&page=0&sort=relevance
This is the error in console:
`Uncaught (in promise) TypeError: Cannot read property 'shortDescription' of undefined`

**To Reproduce**
Search some software in eng language.

[2020-10-08 09:42] #757 closed

[2020-10-08 14:28] Roshan13046 commented on #708
Yes, I am working on it.

[2020-10-08 15:52] aritropc commented on #734
Actually, I'm facing problems with Docker :(
I know the fix... I'll commit the changes as soon as I'm done!
Sorry for the delay @bfabio

[2020-10-08 16:21] UchihaCFC commented on #623
@bfabio just did an `origin/master` merge where I was working and a pull request, fingers crossed! 🤞

[2020-10-08 17:30] bfabio opened #760 ""More tags" button in the homepage has wrong style"
The "More tags" button at https://developers.italia.it/en has different style than the rest of the buttons:

![image](https://user-images.githubusercontent.com/788293/95493206-735db000-099c-11eb-92e8-af1a74e86298.png)

it should be blue and with more padding.

[2020-10-08 17:46] riyabhatia26 commented on #760
Can I work on this please?

[2020-10-08 17:47] BhargaviChada commented on #760
I want to work on this issue ,and I am new to git  so can you please tell me which html file do I have to work with? I can't actually find the index.html file

[2020-10-08 18:11] namrataaaa commented on #491
Hi! I found the solution to this problem and I will be able to fix it. I was able to identify and solve this issue by inspecting the web page but I was unable to find the HTML file in the project. I apologise for this because I am not well acquainted with this kind of structure. So if you can assign this task to me and direct me to where I can find the HTML file, I'll be very grateful.

[2020-10-09 08:46] Guiguerreiro39 commented on #733
Hello,
I can't seem to reproduce this issue.. Is it fixed already?

[2020-10-09 08:51] libremente opened #764 "Switch logo"
We need to switch to the new logo of the DPT

[2020-10-09 08:54] bfabio commented on #733
@Guiguerreiro39 It's not, you can reproduce it by navigating to https://developers.italia.it/en/search and shrinking the viewport to something mobile-sized.

[2020-10-09 10:58] #760 closed

[2020-10-09 11:27] bfabio commented on #764
@libremente

![image](https://user-images.githubusercontent.com/788293/95577716-fdf0ee80-0a32-11eb-9acb-0b42cd7524f6.png)
# Or
![image](https://user-images.githubusercontent.com/788293/95577787-1e20ad80-0a33-11eb-9ea3-eb99dd809a14.png)

[2020-10-09 11:33] sebbalex commented on #764
first one :smile:

[2020-10-09 13:25] lmillucci commented on #753
Isn't this a duplicate of #600 ?

[2020-10-09 13:28] bfabio commented on #753
Oops, you're right @lmillucci, thanks.

[2020-10-09 13:28] #753 closed

[2020-10-10 09:50] bfabio opened #768 "The viewport moves horizontally on mobile devices"
**To Reproduce**

1. Go to https://developers.italia.it on a mobile device
2. Scroll left
3. The viewport moves

![untitled](https://user-images.githubusercontent.com/788293/95652050-a1530980-0aee-11eb-8e1f-4c85a9bf097b.gif)

[2020-10-10 09:53] bfabio commented on #720
@ameybhavsar24 Whoops, sorry. The fix for the English homepage in #751 resolved this as well.

[2020-10-10 09:53] #720 closed

[2020-10-10 10:37] ranabirbasu12 commented on #768
Can I work on this?

[2020-10-10 11:09] Yash7818 commented on #768
may i work on this
@bfabio

[2020-10-10 14:37] maurovitale commented on #722
Hi, I solved this issue but in the meantime, it's been done a PR by another user. Should I still do the PR of what I did ?

[2020-10-12 07:14] Guiguerreiro39 commented on #735
Hello,
It seems they're not working on this.. Can i take it?

[2020-10-12 09:46] bfabio commented on #735
@Guiguerreiro39 Sure, thanks for your interest :+1:

[2020-10-12 12:18] ioggstream opened #773 "Add API Cartografia catastale"
# Issue content

Add cartografia catastale API

[2020-10-12 12:33] libremente commented on #678
Make sense, go for it

[2020-10-12 14:23] libremente opened #775 "API layout looks weird when no project is present"
As can be seen here:
![Schermata da 2020-10-12 16-21-30](https://user-images.githubusercontent.com/25111463/95757127-04879c00-0ca7-11eb-9eb0-ebd223d8b520.png)

when there is not a project linked to the API specs, the layout looks terrible. We should fix it (stretch it to the page's length).

[2020-10-12 14:25] libremente commented on #775
Also, this link is particularly long. We should understand how to properly handle it.

[2020-10-12 14:27] libremente opened #776 "Add meta tags for social media"
Right now, when a developers.italia.it link is shared on social media (TW, IN, FB), the site's logo does not appear. This should be fixed using the proper meta tags.

[2020-10-12 15:10] PrasannaBH commented on #776
Where?

[2020-10-12 17:11] #735 closed

[2020-10-13 17:59] #491 closed

[2020-10-13 19:33] #726 closed

[2020-10-14 07:36] #678 closed

[2020-10-14 17:08] #722 closed

[2020-10-14 17:22] bfabio commented on #733
Fixed by #778.

[2020-10-14 17:22] #733 closed

[2020-10-15 06:24] #718 closed

[2020-10-15 13:05] #764 closed

[2020-10-15 13:25] #623 closed

[2020-10-16 07:12] bfabio opened #783 "Homepage boxes too narrow at certain resolutions"
**Describe the bug**
Boxes at the bottom of the homepage are too narrow at certain resolutions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://developers.italia.it/en
2. Scroll down to the "Forum", "Slack", "GitHub", "Docs" boxes
3. Shrink the viewport until you see the error

![Peek 16-10-2020 09-11](https://user-images.githubusercontent.com/788293/96224307-a3eeac80-0f8f-11eb-

[2020-10-16 09:41] baranwal commented on #783
I have sent you my PR regarding the same.

[2020-10-16 17:38] maurovitale commented on #677
Hi @bfabio, I want to try to solve this issues but I need the GITHUB_ACCESS_TOKEN to test the ruby script. Any way to obtain it?

![github](https://user-images.githubusercontent.com/4927957/96290592-28204e80-0fe7-11eb-82ce-7b44862896eb.png)

[2020-10-18 06:39] yeppog commented on #734
@bfabio Hi I've sent in a PR that fixes the margins #786

[2020-10-18 16:35] maurovitale commented on #708
Hi @libremente, if @Roshan13046  is not trying to fix this issue anymore, I checked the problem with devtools and I've the solution. The only problem is that the github_members file it's missing  from the project (it's part of .gitignore file), so I can't test the fix properly. Do you have any way to include it on the project ?

[2020-10-18 17:29] Roshan13046 commented on #708
Go ahead, I am not working on it any more.

[2020-10-18 18:11] bfabio commented on #708
@maurovitale You can get those files [here](https://github.com/italia/developers.italia.it/issues/692#issuecomment-698877968).

[2020-10-19 07:41] #708 closed

[2020-10-19 09:20] #734 closed

[2020-10-19 09:41] bfabio commented on #677
@maurovitale We need to invite you in the organization, so you can create your own token. cc @sebbalex

[2020-10-20 07:05] sebbalex commented on #677
Hi @maurovitale I sent you an invitation for the org /italia please accept it. Tnx

[2020-10-20 08:33] #783 closed

[2020-10-20 19:10] maurovitale commented on #677
Hi @sebbalex, thx for the invitation I accepted and I'll try to solve this issue. I update you soon!

[2020-10-21 08:10] bfabio opened #792 "Short platform descriptions in homepage"
The platforms boxes in the homepage should have a short description like they have in https://developers.italia.it/en/platforms.

![image](https://user-images.githubusercontent.com/788293/96691591-5bffc900-1385-11eb-97d1-8dfe98ba48fc.png)

[2020-10-21 09:52] RabsonJ commented on #792
Assign this issue to me please

[2020-10-21 11:34] bfabio commented on #792
@RabsonJ thanks for your interest :rocket:

[2020-10-22 16:56] #650 closed

[2020-10-24 09:38] maurovitale commented on #737
Hi @bfabio, I have the solution for this problem if @Joshuafolorunsho is not working on it anymore, I also aligned the search icon

![header_space](https://user-images.githubusercontent.com/4927957/97078586-67edc400-15ed-11eb-9e32-e037f786a3ab.png)

[2020-10-24 10:57] bfabio commented on #737
@maurovitale Great, I assigned this to you :+1:

[2020-10-25 08:27] masihtak commented on #776
I will doing this!

[2020-10-25 14:52] masihtak commented on #705
I can work on this! Do we need labels only forthis field?

[2020-10-26 07:37] bfabio commented on #705
Hi @masihtak, we have other [a11y bugs](https://github.com/italia/developers.italia.it/issues?q=is%3Aissue+is%3Aopen+label%3Aa11y) that might be similar.

[2020-10-26 18:11] maurovitale commented on #677
Hi @sebbalex @bfabio , some updates about this problem. I'm using the github explorer to interrogate the graphql github endpoint and it's quite easy to obtain the data. I created a ruby test script on the project (that I will integrate to github_importer.rb, once is finished) to test the requests; to do so, I'm using the 'gqli' lib.

![gpql](https://user-images.githubusercontent.com/4927957/972110

[2020-10-28 08:00] #737 closed

[2020-11-06 10:47] bfabio opened #799 "Clarify to PAs how to declare they're using the software"
Add a button to the software pages that leads to a page clarifying to PAs how to declare they're using that particular software.

[2020-11-08 18:23] SARVESHKHANDELWAL commented on #345
Can I work on this??

[2020-11-11 09:03] libremente opened #802 "Switch "open-source" to "opensource" tags in news"
Some news are tagged with `open-source` others with `opensource`.
We should have a unified way of handling it

[2020-11-11 09:10] libremente opened #803 "Add Riccardo to contacts page"
We should add Riccardo to the contacts page. Could you please auto-do this @ruphy :smiley:? Thanks!

[2020-11-11 09:11] libremente opened #804 "Add Fabio to contacts page"
We should add Fabio to the contacts page. Could you please auto-do this @bfabio? :smile: Thanks!!

[2020-11-11 14:34] sebbalex commented on #776
For some pages such as news would be nice to have a dedicated tag in jekyll where ad inline image could be set as a cover image for such sharing in social networks. wdyt? @libremente

[2020-11-11 14:48] bfabio commented on #776
News pages have an SVG image in the meta tag, and [Twitter doesn't support that](https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/markup):

`<meta property="twitter:image" content="https://developers.italia.it/assets/icons/logo-it.svg" />`

But I agree with @sebbalex. It would be nice to be able to use different images to make the tweet more interesting.

[2020-11-11 14:49] libremente commented on #776
Yes, good idea!

[2020-11-11 15:52] libremente opened #806 "Add how to declare reuse"
At least the following contents must be added in order to help a PA to correctly declare a software reuse:
- [x] /it/riuso/dichiarazione page
- [x] an entry in the FAQ section

[2020-11-11 16:23] bfabio commented on #806
The first item is covered in #799

[2020-11-12 12:25] #802 closed

[2020-11-12 14:12] sebbalex opened #808 "Move Google Analytics snippet"
Based on latest [documentation](https://support.google.com/webmasters/answer/9008080#google_analytics_verification) Google Analytics snippets should be located to the end of `<head>` tag and not as it was before at the end of `<body>`

[2020-11-12 16:50] #808 closed

[2020-11-12 18:41] #799 closed

[2020-11-13 13:17] #776 closed

[2020-11-16 10:18] #806 closed

[2020-11-17 08:57] ameybhavsar24 commented on #768
@bfabio The overflow is caused due to negative margin at `.home-listing-items .row`. It should be active only for 576px and up.

https://github.com/italia/developers.italia.it/blob/f8e6f15102bb285d7d47f60eaaa7663a80721aa2/assets/scss/main.scss#L904-L907

I am making a PR to fix it.

[2020-11-17 11:12] #768 closed

[2020-11-17 12:07] #804 closed

[2020-11-17 12:57] bfabio opened #818 "dangerjs fails to comment on the PR when checks aren't passing"
dangerjs fails to comment on the PR if its checks don't pass. It's most likely because of `GITHUB_TOKEN`.

eg. with two fails:

[code]
Maybe related to https://github.com/danger/danger-js/issues/1031?

[2020-11-17 16:25] #719 closed

[2020-11-17 16:42] #702 closed

[2020-11-17 16:42] #703 closed

[2020-11-17 16:42] #704 closed

[2020-11-17 16:42] #705 closed

[2020-11-17 16:42] #706 closed

[2020-11-17 16:42] #707 closed

[2020-11-18 09:41] bfabio commented on #743
This should also fix the white borders we have in thumbnails:

![Schermata da 2020-11-18 09-46-02](https://user-images.githubusercontent.com/788293/99513061-847de180-298a-11eb-989f-c16ecd00e6a5.png)

[2020-11-18 17:02] bfabio commented on #818
Didn't fail here: https://github.com/italia/developers.italia.it/pull/819

[2020-11-19 11:06] ameybhavsar24 commented on #792
Hi @bfabio. This issue has been open for long. Can I take this?
Passing
[code]
to
https://github.com/italia/developers.italia.it/blob/0ba0f4cc06589009991f81fc0f2eb7e2cd2aee03/_layouts/home.html#L60-L68
should probably solve this.

[2020-11-19 11:09] bfabio commented on #792
Sure, thanks @ameybhavsar24 :heart:

[2020-11-19 11:20] bfabio opened #823 "CONTRIBUTING.md is out of date"
`CONTRIBUTING.md` is out of date (eg. commit message format) and should be reviewed.

[2020-11-19 12:48] ameybhavsar24 commented on #823
Also, CONTRIBUTING link from PR template is 404.
[code]

[2020-11-19 13:27] ameybhavsar24 commented on #687
I think this is more appropriate as a 'feature request`.

If we're making this, here's a demo by adding `position:sticky; top:100px` to `.sideblock`.

![projectsticky](https://user-images.githubusercontent.com/28699912/99671990-d4e36500-2a98-11eb-9f9f-a6cbf95805ff.gif)

cc/ @libremente @bfabio

[2020-11-19 14:36] #792 closed

[2020-11-23 10:03] #664 closed

[2020-11-23 10:03] #672 closed

[2020-11-24 16:33] bfabio commented on #687
@ameybhavsar24 that's not bad :thinking:

@libremente @sebbalex wdyt?

[2020-11-24 16:46] sebbalex commented on #687
I like it!

[2020-11-27 09:35] bfabio opened #826 "Wrong content in https://developers.italia.it/it/cosa-fare"
https://developers.italia.it/it/cosa-fare says

but that's not true because that page shows just the issues with the `help wanted` label.

We should also make clear to maintainers how to get issues listed on that page. cc @dej611

[2020-11-27 09:35] libremente commented on #826
https://github.com/italia/developers.italia.it/blob/5724aeaed98c6b4c69a714f7965a47d864fa5c3e/en/to-do.md the ENG version has the right copy

[2020-12-01 17:22] #803 closed

[2020-12-01 17:22] ruphy commented on #803
Closed by #829

[2020-12-02 08:21] #826 closed

[2020-12-04 08:43] francescozaia opened #833 "Software pagination can be improved"
**Describe the bug**
Hi Developers! 😬
When browsing the [software page](https://developers.italia.it/it/search?type=reuse_software&page=0&sort=relevance) the pagination is not working as expected.

**To Reproduce**
1 - I'm on the software page,
2- When page number is changed (say, I'm on page 2),
3- I click on a software,
4- I click "back" on the browser,
5- I land back on page 0.

This is quite a

[2020-12-04 08:47] libremente commented on #833
Thanks @francescozaia, confirming this weird behaviour.

[2020-12-04 15:41] libremente opened #834 "Add spid-express link in SPID section"
We should add a link to italia/spid-express in the SPID section

[2020-12-04 16:09] bfabio commented on #834
Closed by #835.

[2020-12-04 16:09] #834 closed

[2020-12-04 16:18] bfabio opened #836 "Speed up the CI pipeline"
We should speed up the CI pipeline, right now it takes about ~10 minutes to finish. Caching `node_modules` between runs and running pa11y just for a subset of pages should shave off 3 to 5 minutes.

[2020-12-07 15:31] libremente commented on #610
This will be handled by the new component structure of the website, wont-fix for now

[2020-12-07 15:32] libremente commented on #691
In Vercel this is not possible.

[2020-12-07 15:35] libremente commented on #663
Please leave a comment in the _config.yml file @bfabio

[2020-12-07 16:10] ioggstream commented on #663
`api-` is missing.

[2020-12-07 16:12] sebbalex commented on #687
@ameybhavsar24 could you please submit a PR?

[2020-12-07 16:24] ameybhavsar24 commented on #687
Sure.

[2020-12-08 08:25] #687 closed

[2020-12-08 09:11] bfabio opened #839 "Add the API section to the to-do page"
API projects are grouped under "Other" right now, but they should probably have their own group in https://developers.italia.it/en/to-do

_Originally posted by @ioggstream in https://github.com/italia/developers.italia.it/issues/663#issuecomment-740015902_

[2020-12-08 09:11] bfabio commented on #663
@libremente Turns out we already did it when refactoring `github_importer.rb` https://github.com/italia/developers.italia.it/blob/master/scripts/github_importer.rb#L13-L15 :)

[2020-12-08 09:11] #663 closed

[2020-12-09 15:47] bfabio commented on #818
So unfortunately it doesn't work with PR from other repos and this pretty much breaks commenting linters in GitHub Actions.
The simpler workaround would be to create a bot account. @sebbalex wdty? Maybe we already have one?

[2020-12-09 17:32] #696 closed

[2020-12-15 08:32] #818 closed

[2020-12-15 16:42] emilioSp commented on #669
@bfabio I've found the cause of the problem, but unfortunately at the moment, I don't have a solution.

The warning is due to the fact that [here](https://github.com/italia/developers.italia.it/blob/master/assets/js/swagger-custom.js#L55) the element `#swagger` is not present in the dom.

[2020-12-18 08:19] #836 closed

[2020-12-29 15:05] #823 closed

[2021-01-11 11:03] bfabio opened #866 "Add tests"

[2021-01-11 11:05] bfabio opened #867 "Componentize the search engine"

[2021-01-13 11:33] emilioSp commented on #656
It doesn't seem to be useful, moreover, it creates a divergent view in the development environment that doesn't mirror production.

[2021-01-13 12:04] #656 closed

[2021-01-14 15:24] emilioSp opened #871 "Sort on catalogue doesn't work properly"
**Describe the bug**
Changing the sorting value affects the filtering

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://developers.italia.it/it/search?page=0&sort=relevance
2. Change the select value _ordina per_ to _più attivi_
3. See the filtering affected by sorting operation

**Expected behavior**
Sorting operation does not affect filtering

**Screenshots**

https://user-ima

[2021-01-14 15:25] emilioSp opened #872 "Sorting in the catalogue doesn't work properly"
**Describe the bug**
Changing the sorting value affects the filtering

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://developers.italia.it/it/search?page=0&sort=relevance
2. Change the select value _ordina per_ to _più attivi_
3. See the filtering affected by sorting operation

**Expected behavior**
Sorting operation does not affect filtering

**Screenshots**

https://user-ima

[2021-01-15 14:58] SAP-20 commented on #743
Could you assign the project to me??

[2021-01-15 15:03] UchihaCFC commented on #743
@SAP-20 It is assigned to @eliteReaper right? I wanted to do it but he was already with it

[2021-01-15 15:49] bfabio commented on #743
@UchihaCFC you're right, but we also started [a refactoring](https://github.com/italia/developers.italia.it/compare/feat/refactoring) which will turn those thumbnails into a component.

My advice is to wait for it.

[2021-01-15 17:15] UchihaCFC commented on #743
Great, maybe after refactoring this is no longer necessary. We will wait, in case @eliteReaper want to continue or if either of us can do it. Thank you @bfabio!

[2021-01-15 23:16] sebbalex commented on #872
@emilioSp dup of #871 ?

[2021-01-16 10:34] emilioSp commented on #872
Sorry, my mistake.

Duplicated of #871

[2021-01-16 10:34] #872 closed

[2021-01-20 04:26] SAP-20 commented on #345
Can i work on the issue ??

[2021-01-21 08:36] libremente opened #874 "Add Andrea to the team members list"
We should add @astagi to the members list

[2021-01-21 13:47] #874 closed

[2021-01-27 08:56] emilioSp commented on #671
The api icon is already included in BSI. It is _it-settings_

However, since the release of the new search engine is approaching ([preview](https://developers-italia-it-git-feat-refactoring.dip-trasformazione-digitale.vercel.app/it/search)), it should be very useful to have the missing icons reported by @sebbalex

@francescozaia do you have any updates?

[2021-01-27 09:06] emilioSp commented on #680
I think that with the refactoring of the search engine we can close this.

The search page will show only the software available in the catalogue.
The Administrations and API have their own page and they are however searchable through the search modal.

[2021-01-27 09:08] emilioSp commented on #833
We will close this issue using the infinite scroll, included in the next release of the search engine.

[2021-01-27 09:16] emilioSp commented on #682
As for [this](https://github.com/italia/developers.italia.it/issues/680), I think that this issue could be closed with the release of the new search engine. The api won't show in the catalogue page, but they remain searchable in the search modal.

[2021-01-27 13:55] sebbalex commented on #833
@emilioSp does the search listing page have an anchor link as a reference in which point of the research you were? This can be useful in situation supposed by @francescozaia

[2021-01-27 13:56] sebbalex commented on #682
Closing.

[2021-01-27 13:56] #682 closed

[2021-01-27 14:11] emilioSp commented on #833
Nope. The searching starting from the start. I remove the _fixed in dev_ label.

If we want to simplify the code, as @francescozaia advised, we can open the software page in a new tab.

Is it a feasible solution? @sebbalex @libremente

[2021-01-28 18:31] emilioSp opened #880 "Outdated node version on CircleCI"
**Describe the bug**
In the CI the used node version is outdated.

**Expected behavior**
Use the lts version (currently 14)

**Screenshots**
![image](https://user-images.githubusercontent.com/22614105/106182352-fe0e2900-619e-11eb-928d-e4951ccb8d5d.png)

[2021-02-04 08:26] emilioSp opened #882 "Software catalogue: sort by alphabetical order doesn't work"
**Describe the bug**
Sort by alphabetical order doesn't work

**To Reproduce**
1. Go to https://developers.italia.it/en/search
2. Sort by 'Alphabetical'
3. Items are not sorted properly

[2021-02-04 10:26] libremente opened #884 "Some pages still have "Team Digitale" as maintainer"
Some pages, like this one https://developers.italia.it/it/pagopa/ still have "Team per la Trasformazione Digitale" as Maintainer. We should change this.

[2021-02-04 12:30] emilioSp opened #885 "Extend linting to the JavaScript code"
**Describe the bug**
Currently, the linting is executed only on the __site_ directory on .json files

**Expected behavior**
Lint all the JavaScript code and use a stricter set of rules (like [this](https://github.com/italia/api-oas-checker/blob/master/.eslintrc.json))

[2021-02-09 08:47] bfabio opened #891 "Pa11y won't exit with error when it fails to launch the browser"
Looks like pa11y doesn't exit with error if there are problems when launching the browser for the accessibility tests, resulting in a successful pipeline when it should be a failed one.

[2021-02-09 15:22] sebbalex opened #892 "We should use design-react-kit component as much as we can, in this way we will get all the benefits in term of accessibility and style from the kit itself"
I would use design-react-kit component as much as we can, in this way we will get all the benefits in term of accessibility and style from the kit itself

_Originally posted by @sebbalex in https://github.com/italia/developers.italia.it/pull/873#discussion_r572827468_

[2021-02-09 16:26] emilioSp opened #893 "Software listing template is not localised"
The html template `software-listing` contains strings that are not localised
_Originally posted by @bfabio in https://github.com/italia/developers.italia.it/pull/873#discussion_r572691820_

[2021-02-09 16:29] emilioSp opened #894 "Investigate if we need datatables.net in the js bundle"
_Originally posted by @sebbalex in https://github.com/italia/developers.italia.it/pull/873#discussion_r572697937_

[2021-02-09 17:09] bfabio opened #895 "Remove HTML entity from news page"
We have an HTML entity in the title of `_posts/it/2018-03-12-code-hands-on-laboratori-aperti-per-la-milano-digital-week.md`. We should remove it.

_Originally posted by @emilioSp in https://github.com/italia/developers.italia.it/issues/873#issuecomment-776009067_

[2021-02-10 09:26] bfabio commented on #880
Fixed by #883.

[2021-02-10 09:26] #880 closed

[2021-02-10 09:32] #895 closed

[2021-02-10 10:04] #450 closed

[2021-02-10 10:04] #680 closed

[2021-02-10 10:04] #695 closed

[2021-02-10 10:04] #871 closed

[2021-02-10 10:04] #669 closed

[2021-02-10 10:04] #681 closed

[2021-02-10 10:04] #833 closed

[2021-02-10 10:04] #866 closed

[2021-02-10 10:04] #867 closed

[2021-02-10 10:18] bfabio commented on #743
@UchihaCFC @eliteReaper refactoring was merged :rocket:

[2021-02-10 10:40] emilioSp opened #897 "Show an error message when Elasticsearch is not available"

[2021-02-10 11:18] bfabio commented on #345
We'll be much better off just rewriting the original Italian FAQs. On hold.

[2021-02-10 11:21] bfabio opened #898 "Improve the Italian FAQs"

[2021-02-10 11:22] bfabio commented on #600
We'll be much better off just rewriting the original Italian FAQs (#898). On hold.

[2021-02-10 12:18] #897 closed

[2021-02-10 17:36] #885 closed

[2021-02-12 10:12] libremente opened #903 "Add Matteo Fortini to contacts"
We should add Matteo to the contacts list.

[2021-02-12 18:58] UchihaCFC commented on #743
@eliteReaper will you continue to work with it? 

@bfabio if he doesn't want to continue, I wish I could help with this starting from the merge 🙂

[2021-02-13 12:55] bfabio commented on #743
@UchihaCFC thanks :)

Anyway, maybe this was fixed by the refactoring itself, is this the case @emilioSp?

[2021-02-15 14:54] #903 closed

[2021-02-15 17:28] emilioSp commented on #743
First of all, thank you @UchihaCFC

The refactoring has solved the issue. Now we use only `cover_softwariuso.png` [here](https://github.com/italia/developers.italia.it/blob/a524900b5a018adddf05d17d0250b387fed121c4/assets/js/services/searchEngine.js#L94). Btw in the codebase there still is `placeholder-software-riuso.jpg` and I think we should get rid of it and use `cover_softwareriuso.png` everywh

[2021-02-16 09:05] bfabio commented on #743
@emilioSp agreed. It would also be nice to use the new component (`CatalogueItem.js) wherever we are using display-logo.html now.

[2021-02-16 10:48] emilioSp commented on #743
@bfabio
Yes, however, we should take into account that the `CatalogueItem` component is rendered by React on document load.

I don't know where the _display-logo.html_ is used but we should take SEO problems into account.
Another little concern is the interaction with Jekyll. Many props in _display-logo.html_ come from others `_includes` and are generated at build time. Perhaps we could render the

[2021-02-16 14:33] bfabio commented on #743
@emilioSp Uhm, I didn't think about SEO, good point :thinking: . Doesn't Google bot support Javascript these days?

[2021-02-16 16:25] emilioSp commented on #743
Mmm I'm not sure, but [server-side rendering](https://reactjs.org/docs/react-dom-server.html#reference) and frameworks like Gatsby are born to meet even SEO purposes.

[2021-02-17 16:33] libremente commented on #884
This is connected to the Platforms section revision. Assigning to @astagi

[2021-02-19 09:54] bfabio commented on #743
We discussed internally and we realized that we have a sitemap, so SEO should not be a concern.

@UchihaCFC I'm going to open a new issue about using the new `CatalogueItem` component everywhere, of course feel free to ping me or @emilioSp in case you need help or guidance :)

[2021-02-19 10:02] bfabio opened #915 "Use the CatalogueItem everywhere in the site for software items"
As discussed in #743, it would be nice to use `CatalogueItem` everywhere and replace the logic in `display-logo.html` with it.

We should make Jekyll generate a custom element <catalogue-item> in place of what we do now, and use its attributes to pass down the data (like description, name, logo, etc.) to CatalogueItem's React props.

cc @emilioSp @UchihaCFC

[2021-02-19 10:15] emilioSp commented on #915
This is the React.js [entrypoint](https://github.com/italia/developers.italia.it/blob/master/assets/js/App.js).

We should do something similar we already did with `custom-search` and `custom-catalogue`.

The `CatalogueItem` expected input is [here](https://github.com/italia/developers.italia.it/blob/master/assets/js/utils/proptypes.js).

[2021-02-21 17:02] twopill commented on #775
Hi!
I don't found this page in the site, but i simply edit the code and i past the same link for 4-5 times, image:

Ok now my idea is very simple, i change the css for do this:

The logic is simply, line-clamp for 4 row, if it is > 5 the text have " ... " .
But if you hover with the mouse for click:

It is only css.
So the code is in this file i see :[https://github.com/italia/developers.italia.it

[2021-02-21 20:47] UchihaCFC commented on #915
Ok I see @bfabio, I'm going to try to do it, (is there a deadline for this? Maybe it will take a bit 😅 to check everything well)

Thanks for the info @emilioSp I'll take a good look at it.